prometheus-adapter:
  image:
    {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}

  prometheus:
    url: http://prometheus-stack-kube-prom-prometheus.prometheus-stack.svc

  resources:
    requests:
      cpu: {{ gitops_instance_variables.cpu_request | to_json }}
      memory: {{ gitops_instance_variables.memory_request | to_json }}
    limits:
      cpu: {{ gitops_instance_variables.cpu_limit | to_json }}
      memory: {{ gitops_instance_variables.memory_limit | to_json }}

  rules:
    default: {{ gitops_instance_variables.default_rules_enabled | to_json }}
    custom: {{ gitops_instance_variables.custom_rules | to_json }}
    external: {{ gitops_instance_variables.external_rules | to_json }}
    resource: {{ (gitops_instance_variables.default_resource_rules if gitops_instance_variables.default_resource_rules_enabled else {}) | combine(gitops_instance_variables.resource_rules) | to_json }}
