trust-manager:
  crds:
    keep: false


  image:
    {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}


  defaultPackageImage:
    {{ gitops_instance_variables.default_package_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}


  app:
    metrics:
      service:
        servicemonitor:
          enabled: {{ prometheus_stack_enabled | to_json }}
          labels:
            release: prometheus-stack
