sealed-secrets:
  image:
    {{ gitops_instance_variables.image | imagesplit('registry,repository,tag') | to_yaml(default_flow_style=False, width=1337) | indent(width=4) }}

  namespace: "{{ destination_namespace | default(application_name) }}"

  resources:
    requests:
      {% if gitops_instance_variables.memory_request %}
      memory: {{ gitops_instance_variables.memory_request | to_json }}
      {% endif %}
      {% if gitops_instance_variables.cpu_request %}
      cpu: {{ gitops_instance_variables.cpu_request | to_json }}
      {% endif %}
    limits:
      {% if gitops_instance_variables.memory_limit %}
      memory: {{ gitops_instance_variables.memory_limit | to_json }}
      {% endif %}
      {% if gitops_instance_variables.cpu_limit %}
      cpu: {{ gitops_instance_variables.cpu_limit | to_json }}
      {% endif %}

  {% if gitops_instance_variables.ingress_enabled %}
  ingress:
    enabled: true
    ingressClassName: {{ gitops_instance_variables.ingress_class | to_json }}
    hostname: {{ gitops_instance_variables.fqdn | to_json }}
    {% if gitops_instance_variables.ingress_certificate_issuer != 'none' %}
    annotations:
      cert-manager.io/cluster-issuer: {{ gitops_instance_variables.ingress_certificate_issuer | to_json }}
    {% endif %}
    tls: true
  {% endif %}

  metrics:
    serviceMonitor:
      enabled: {{ prometheus_stack_enabled | to_json }}
      labels:
        release: prometheus-stack

    dashboards:
      create: true
      labels:
        grafana_dashboard: "1"
