trivy-operator:
  operator:
    scanJobsConcurrentLimit: {{ gitops_instance_variables.scan_jobs_concurrent_limit | to_json }}
  {% if gitops_instance_variables.metrics_vuln_id_enabled %}
    metricsVulnIdEnabled: {{ gitops_instance_variables.metrics_vuln_id_enabled | to_json }}
  {% endif %}

  image:
    {{ gitops_instance_variables.image | imagesplit('registry,repository,tag') | to_yaml(default_flow_style=False, width=1337) | indent(width=4) }}


  serviceMonitor:
    enabled: {{ prometheus_stack_enabled | to_json }}
    labels:
      release: prometheus-stack


  trivyOperator:
    scanJobPodTemplatePodSecurityContext:
      RunAsUser: 10000
      RunAsGroup: 10000
      RunAsNonRoot: true

  trivy:
    image:
      {{ gitops_instance_variables.trivy_image | imagesplit('registry,repository,tag') | to_yaml(default_flow_style=False, width=1337) | indent(width=6) }}

    {% if offline_enabled %}
    insecureRegistries:  # FIXME
      {% set external_registry_mirror_fqdns = containerd_registries.values() | flatten | map('urlsplit', 'netloc') | unique %}
      {% for external_registry_mirror_fqdn in external_registry_mirror_fqdns %}
      {{ external_registry_mirror_fqdn | to_json }}: {{ external_registry_mirror_fqdn | to_json }}
      {% endfor %}

    registry:
      mirror:
        {% for external_registry, external_registry_mirrors in containerd_registries.items() %}
        {{ external_registry | to_json }}: {{ external_registry_mirrors[0] | regex_replace('^https?://', '') | regex_replace('/v2', '') | to_json }}
        {% if external_registry == 'docker.io' and 'index.docker.io' is not in containerd_registries %}
        index.docker.io: {{ external_registry_mirrors[0] | regex_replace('^https?://', '') | regex_replace('/v2', '') | to_json }}
        {% endif %}
        {% endfor %}
    {% endif %}

    ignoreUnfixed: {{ gitops_instance_variables.ignore_unfixed | to_json }}

    offlineScan: {{ offline_enabled | to_json }}

    resources:
      requests:
        {% if gitops_instance_variables.trivy_scan_cpu_request %}
        cpu: {{ gitops_instance_variables.trivy_scan_cpu_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.trivy_scan_memory_request %}
        memory: {{ gitops_instance_variables.trivy_scan_memory_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.trivy_scan_cpu_limit %}
        cpu: {{ gitops_instance_variables.trivy_scan_cpu_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.trivy_scan_memory_limit %}
        memory: {{ gitops_instance_variables.trivy_scan_memory_limit | to_json }}
        {% endif %}
    {% if offline_enabled %}
    dbRegistry: {{ gitlab_registry_fqdn | to_json }}
    dbRepository: {{ ('external-registries/' + gitops_instance_variables.db_image.split(':', 1)[0]) | to_json }}
    javaDbRegistry: {{ gitlab_registry_fqdn | to_json }}
    javaDbRepository: {{ ('external-registries/' + gitops_instance_variables.java_db_image.split(':', 1)[0]) | to_json }}
    dbRepositoryInsecure: "true"  # FIXME
    {% else %}
    dbRegistry: {{ gitops_instance_variables.db_image.split('/', 1)[0] | to_json }}
    dbRepository: {{ gitops_instance_variables.db_image.split('/', 1)[1].split(':', 1)[0] | to_json }}
    javaDbRegistry: {{ gitops_instance_variables.java_db_image.split('/', 1)[0] | to_json }}
    javaDbRepository: {{ gitops_instance_variables.java_db_image.split('/', 1)[1].split(':', 1)[0] | to_json }}
    {% endif %}

  resources:
    requests:
      {% if gitops_instance_variables.memory_request %}
      memory: {{ gitops_instance_variables.memory_request | to_json }}
      {% endif %}
      {% if gitops_instance_variables.cpu_request %}
      cpu: {{ gitops_instance_variables.cpu_request | to_json }}
      {% endif %}
    limits:
      {% if gitops_instance_variables.memory_limit %}
      memory: {{ gitops_instance_variables.memory_limit | to_json }}
      {% endif %}
      {% if gitops_instance_variables.cpu_limit %}
      cpu: {{ gitops_instance_variables.cpu_limit | to_json }}
      {% endif %}

  nodeCollector:
    {{ gitops_instance_variables.node_collector_image | imagesplit('registry,repository,tag') | to_yaml(default_flow_style=False, width=1337) | indent(width=4) }}
