external-dns:
  image:
    {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}


  serviceMonitor:
    enabled: {{ prometheus_stack_enabled | to_json }}

    additionalLabels:
      release: prometheus-stack


  # resources: {}


  sources:
    {{ gitops_instance_variables.sources | to_nice_yaml(indent=2) | indent(width=4) }}


  policy: {{ gitops_instance_variables.policy | to_json }}

  # registry: txt
  txtOwnerId: {{ (kubitus_inventory_name + gitops_instance_variables.suffix) | to_json }}
  txtPrefix: {{ gitops_instance_variables.txt_prefix | to_json }}
  txtSuffix: {{ gitops_instance_variables.txt_suffix | to_json }}
  domainFilters:
    {{ gitops_instance_variables.domain_filters | to_nice_yaml(indent=2) | indent(width=4) }}


  provider: {{ gitops_instance_variables.provider | to_json }}


  extraArgs:
    {{ gitops_instance_variables.extra_args | to_nice_yaml(indent=2) | indent(width=4) }}
