{
  "gcp_project_id": {{ terraform_gke_project_id | to_json }},
  "keyfile_location": {{ terraform_gke_keyfile_location | to_json }},
  "location": {{ terraform_gke_location | to_json }},
  "prefix": {{ terraform_gke_prefix | to_json }},
  "release_channel": {{ terraform_gke_release_channel | to_json }},
  "network": {{ terraform_gke_network | to_json }},
  "subnetwork": {{ terraform_gke_subnetwork | to_json }},
  "node_pools": {
{% for gke_node_pool in groups['gke_node_pools'] %}
    {{ gke_node_pool | to_json }}: {
      "location": {{ hostvars[gke_node_pool].terraform_gke_location | default(terraform_gke_location) | to_json }},
      "initial_node_count": {{ hostvars[gke_node_pool].terraform_gke_initial_node_count | default(terraform_gke_initial_node_count) | to_json }},
      "min_node_count": {{ hostvars[gke_node_pool].terraform_gke_min_node_count | default(terraform_gke_min_node_count) | to_json }},
      "max_node_count": {{ hostvars[gke_node_pool].terraform_gke_max_node_count | default(terraform_gke_max_node_count) | to_json }},
      "machine_type": {{ hostvars[gke_node_pool].terraform_gke_machine_type | default(terraform_gke_machine_type) | to_json }},
      "preemptible": {{ hostvars[gke_node_pool].terraform_gke_preemptible | default(terraform_gke_preemptible) | to_json }},
      "disk_size_gb": {{ hostvars[gke_node_pool].terraform_gke_disk_size_gb | default(terraform_gke_disk_size_gb) | to_json }}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  },
  "sa_email": {{ terraform_gke_serviceaccount_email | to_json }},
  "kubeconfig": {{ terraform_gke_kubeconfig | to_json }}
}
