{
  "prefix": {{ terraform_vsphere_prefix | to_json }},

  "inventory_file": "inventory.ini",

  "network": {{ terraform_vsphere_network | to_json }},

  "machines": {
{% for terraform_node in terraform_vsphere_nodes %}
    {{ terraform_node | to_json }}: {
      "node_type": "{% if terraform_node in groups['kube_control_plane'] | default([]) %}master{% else %}worker{% endif %}",
      "ip": {{ hostvars[terraform_node].terraform_vsphere_ip | default(terraform_vsphere_ip) | to_json }},
      "netmask": "{{ hostvars[terraform_node].terraform_vsphere_netmask | default(terraform_vsphere_netmask) }}"
    }{% if not loop.last %},{% endif %}
{% endfor %}
  },

  "gateway": {{ terraform_vsphere_gateway | to_json }},

  "ssh_public_keys": {{ terraform_vsphere_ssh_public_keys | to_json }},

  "vsphere_datacenter": {{ terraform_vsphere_datacenter | to_json }},
  "vsphere_compute_cluster": {{ terraform_vsphere_compute_cluster | to_json }},
  "vsphere_datastore": {{ terraform_vsphere_datastore | to_json }},
  "vsphere_user": {{ terraform_vsphere_user | to_json }},
{% if terraform_vsphere_password %}
  "vsphere_password": {{ terraform_vsphere_password | to_json }},
{% endif %}
  "vsphere_server": {{ terraform_vsphere_server | to_json }},

  "template_name": {{ terraform_vsphere_template_name | to_json }},
  "folder": {{ terraform_vsphere_template_folder | to_json }},
  "hardware_version": {{ terraform_vsphere_hardware_version | string | to_json }}
}
