# https://github.com/cert-manager/cert-manager/blob/master/deploy/charts/cert-manager/values.yaml
cert-manager:
  installCRDs: true


  image:
    {{ gitops_instance_variables.controller_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}


  prometheus:
    enabled: {{ prometheus_stack_enabled | to_json }}
    servicemonitor:
      enabled: true


  {% if not gitops_instance_variables.ingress_shim_enabled %}
  extraArgs:
  - --controllers=*,-ingress-shim
  {% endif %}


  webhook:
    image:
      {{ gitops_instance_variables.webhook_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}


  cainjector:
    image:
      {{ gitops_instance_variables.cainjector_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}


  acmesolver:
    image:
      {{ gitops_instance_variables.acmesolver_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}


  startupapicheck:
    image:
      {{ gitops_instance_variables.ctl_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}
