apiVersion: v2
name: {{ gitops_instance_variables.name | to_json }}
version: 0.0.1
dependencies:
  {{ gitops_instance_variables.helm_dependencies | to_yaml(default_flow_style=False, width=1337) | indent(width=2) }}
