apiVersion: v1
kind: Secret
metadata:
  name: argocd-repo-gitops
  labels:
    argocd.argoproj.io/secret-type: repository
data:
  type: {{ "git" | b64encode | to_json }}
  url: {{ gitops_repo_url | b64encode | to_json }}
  username: {{ argocd_repo_username | b64encode | to_json }}
  password: {{ argocd_repo_password | b64encode | to_json }}
