{% if gitops_instance_variables.oidc_enabled %}
oidc_ips: {{ netpol_fqdn2ips.get(gitops_instance_variables.oidc_issuer | urlsplit('hostname'), []) | to_json }}
{% endif %}

gitops_repo_url: {{ gitops_repo_url | to_json }}
kube_dns_stub_domains: {{ kube_dns_stub_domains | to_json }}

argo-cd:
  createAggregateRoles: {{ gitops_instance_variables.create_aggregate_roles | to_json }}


  global:
    domain: {{ gitops_instance_variables.fqdn | to_json }}

    image:
      {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    logging:
      format: json


  configs:
    cm:
      admin.enabled: {% if gitops_instance_variables.admin_enabled %}true{% else %}false{% endif %}

      resource.exclusions: |
        - apiGroups:
          - cilium.io
          kinds:
          - CiliumIdentity
          clusters:
          - "*"

      {% if gitops_instance_variables.oidc_enabled %}
      oidc.config: |
        name: OIDC
        issuer: {{ gitops_instance_variables.oidc_issuer | to_json }}
        clientID: $keycloak-client-secret-argocd:CLIENT_ID
        clientSecret: $keycloak-client-secret-argocd:CLIENT_SECRET
        {% if gitops_instance_variables.oidc_root_ca %}
        rootCA: {{ gitops_instance_variables.oidc_root_ca | to_json }}
        {% endif %}
        requestedIDTokenClaims:
          groups:
            essential: true
        requestedScopes:
          - openid
          - profile
          - email
      {% endif %}

    params:
      # https://argo-cd.readthedocs.io/en/stable/operator-manual/ingress/#option-2-ssl-termination-at-ingress-controller
      server.insecure: true

    rbac:
      policy.default: {{ gitops_instance_variables.rbac_default_policy | to_json }}
      policy.csv: |
        {{ (gitops_instance_variables.rbac_roles + "\n" + gitops_instance_variables.rbac_permissions) | indent(width=8) }}
      scopes: "[groups, email]"

    tls:
      certificates:
        {% if gitlab_fqdn not in local_ca_certificates %}
        {{ gitlab_fqdn }}: {{ local_ca_certificates.values() | join("\n") | to_json }}
        {% endif %}
        {% for fqdn, certs in gitops_instance_variables.tls_certs_data.items() %}
        {{ fqdn | to_json }}: {{ certs | to_json }}
        {% endfor %}


  controller:
    resources:
      requests:
        {% if gitops_instance_variables.controller_memory_request %}
        memory: {{ gitops_instance_variables.controller_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.controller_cpu_request %}
        cpu: {{ gitops_instance_variables.controller_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.controller_memory_limit %}
        memory: {{ gitops_instance_variables.controller_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.controller_cpu_limit %}
        cpu: {{ gitops_instance_variables.controller_cpu_limit | to_json }}
        {% endif %}

    metrics:
      enabled: {{ prometheus_stack_enabled | to_json }}
      serviceMonitor:
        enabled: {{ prometheus_stack_enabled | to_json }}
        additionalLabels:
          release: prometheus-stack
      rules:
        enabled: {{ prometheus_stack_enabled | to_json }}
        additionalLabels:
          release: prometheus-stack
        {% raw %}
        spec:
        - alert: ArgoAppMissing
          expr: |
            absent(argocd_app_info) == 1
          for: 15m
          labels:
            severity: critical
          annotations:
            summary: "[Argo CD] No reported applications"
            description: >
              Argo CD has not reported any applications data for the past 15 minutes which
              means that it must be down or not functioning properly.  This needs to be
              resolved for this cloud to continue to maintain state.
        - alert: ArgoAppNotSynced
          expr: |
            argocd_app_info{sync_status!="Synced"} == 1
          for: 2h
          labels:
            severity: warning
          annotations:
            summary: "[{{`{{$labels.name}}`}}] Application not synchronized"
            description: >
              The application [{{`{{$labels.name}}`}}] has not been synchronized for over
              2 hours which means that the state of this cloud has drifted away from the
              state inside Git.
        - alert: ArgocdServiceUnhealthy
          expr: |
            argocd_app_info{health_status!="Healthy"} != 0
          for: 20m
          labels:
            severity: warning
          annotations:
            summary: "[{{`{{$labels.name}}`}}] Application unhealthy"
            description: >
              The application [{{`{{$labels.name}}`}}] is currently not healthy for over 20 minutes.
        {% endraw %}


  dex:
    enabled: false


  redis:
    image:
      {{ gitops_instance_variables.redis_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    exporter:
      enabled: {{ prometheus_stack_enabled | to_json }}
      image:
        {{ gitops_instance_variables.redis_exporter_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}

    resources:
      requests:
        {% if gitops_instance_variables.redis_memory_request %}
        memory: {{ gitops_instance_variables.redis_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.redis_cpu_request %}
        cpu: {{ gitops_instance_variables.redis_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.redis_memory_limit %}
        memory: {{ gitops_instance_variables.redis_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.redis_cpu_limit %}
        cpu: {{ gitops_instance_variables.redis_cpu_limit | to_json }}
        {% endif %}

    metrics:
      enabled: {{ prometheus_stack_enabled | to_json }}
      serviceMonitor:
        enabled: {{ prometheus_stack_enabled | to_json }}
        additionalLabels:
          release: prometheus-stack


  server:
    resources:
      requests:
        {% if gitops_instance_variables.server_memory_request %}
        memory: {{ gitops_instance_variables.server_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.server_cpu_request %}
        cpu: {{ gitops_instance_variables.server_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.server_memory_limit %}
        memory: {{ gitops_instance_variables.server_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.server_cpu_limit %}
        cpu: {{ gitops_instance_variables.server_cpu_limit | to_json }}
        {% endif %}

    metrics:
      enabled: {{ prometheus_stack_enabled | to_json }}
      serviceMonitor:
        enabled: {{ prometheus_stack_enabled | to_json }}
        additionalLabels:
          release: prometheus-stack

    ingress:
      enabled: true

      {% if gitops_instance_variables.ingress_certificate_issuer != 'none' %}
      annotations:
        cert-manager.io/cluster-issuer: {{ gitops_instance_variables.ingress_certificate_issuer | to_json }}

      {% endif %}
      ingressClassName: {{ gitops_instance_variables.ingress_class | to_json }}

      extraTls:
      - hosts:
        - "{{ gitops_instance_variables.fqdn }}"
        {% if gitops_instance_variables.ingress_certificate_issuer != 'none' %}
        secretName: "{{ gitops_instance_variables.fqdn }}-tls"
        {% endif %}


  repoServer:
    env:
    # https://github.com/argoproj/argo-cd/issues/3539#issuecomment-743333648
    - name: SSL_CERT_DIR
      value: "/app/config/tls/"

    extraContainers:
    - name: kustomized-helm
      command: [/var/run/argocd/argocd-cmp-server]
      image: {{ gitops_instance_variables.image | to_json }}
      securityContext:
        runAsNonRoot: true
        readOnlyRootFilesystem: true
        allowPrivilegeEscalation: false
        seccompProfile:
          type: RuntimeDefault
        capabilities:
          drop:
          - ALL
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: plugin.yaml
          name: kustomized-helm-config
        - mountPath: /tmp
          name: kustomized-helm-tmp
      resources:
        requests:
          {% if gitops_instance_variables.reposerver_memory_request %}
          memory: {{ gitops_instance_variables.reposerver_memory_request | to_json }}
          {% endif %}
          {% if gitops_instance_variables.reposerver_cpu_request %}
          cpu: {{ gitops_instance_variables.reposerver_cpu_request | to_json }}
          {% endif %}
        limits:
          {% if gitops_instance_variables.reposerver_memory_limit %}
          memory: {{ gitops_instance_variables.reposerver_memory_limit | to_json }}
          {% endif %}
          {% if gitops_instance_variables.reposerver_cpu_limit %}
          cpu: {{ gitops_instance_variables.reposerver_cpu_limit | to_json }}
          {% endif %}

    volumes:
      - name: kustomized-helm-config
        configMap:
          name: kustomized-helm-config
      - name: kustomized-helm-tmp
        emptyDir: {}

    resources:
      requests:
        {% if gitops_instance_variables.reposerver_memory_request %}
        memory: {{ gitops_instance_variables.reposerver_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.reposerver_cpu_request %}
        cpu: {{ gitops_instance_variables.reposerver_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.reposerver_memory_limit %}
        memory: {{ gitops_instance_variables.reposerver_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.reposerver_cpu_limit %}
        cpu: {{ gitops_instance_variables.reposerver_cpu_limit | to_json }}
        {% endif %}

    metrics:
      enabled: {{ prometheus_stack_enabled | to_json }}
      serviceMonitor:
        enabled: {{ prometheus_stack_enabled | to_json }}
        additionalLabels:
          release: prometheus-stack


  applicationSet:
    metrics:
      enabled: {{ prometheus_stack_enabled | to_json }}
      serviceMonitor:
        enabled: {{ prometheus_stack_enabled | to_json }}
        additionalLabels:
          release: prometheus-stack

    resources:
      requests:
        {% if gitops_instance_variables.applicationset_memory_request %}
        memory: {{ gitops_instance_variables.applicationset_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.applicationset_cpu_request %}
        cpu: {{ gitops_instance_variables.applicationset_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.applicationset_memory_limit %}
        memory: {{ gitops_instance_variables.applicationset_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.applicationset_cpu_limit %}
        cpu: {{ gitops_instance_variables.applicationset_cpu_limit | to_json }}
        {% endif %}


  notifications:
    metrics:
      enabled: {{ prometheus_stack_enabled | to_json }}
      serviceMonitor:
        enabled: {{ prometheus_stack_enabled | to_json }}
        additionalLabels:
          release: prometheus-stack

    resources:
      requests:
        {% if gitops_instance_variables.notifications_memory_request %}
        memory: {{ gitops_instance_variables.notifications_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.notifications_cpu_request %}
        cpu: {{ gitops_instance_variables.notifications_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.notifications_memory_limit %}
        memory: {{ gitops_instance_variables.notifications_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.notifications_cpu_limit %}
        cpu: {{ gitops_instance_variables.notifications_cpu_limit | to_json }}
        {% endif %}
