# https://github.com/piraeusdatastore/helm-charts/blob/main/charts/snapshot-controller/values.yaml
snapshot-controller:
  controller:
    image:
      {{ gitops_instance_variables.controller_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}


  webhook:
    image:
      {{ gitops_instance_variables.webhook_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}
