{
    "Dhcp4": {
        "interfaces-config": {
            "interfaces": {{ kea_interfaces_v4 | to_json }},
            "dhcp-socket-type": "raw"
        },
        "control-socket": {
            "socket-type": "unix",
            "socket-name": "/run/kea/kea4-ctrl-socket"
        },
        "lease-database": {
            "type": "memfile",
            "persist": true,
            "name": "/var/lib/kea/dhcp4.leases",
        },
        "valid-lifetime": 28800,
        "option-data": [
            {
                "name": "domain-name-servers",
                "data": {{ ansible_facts.dns.nameservers | join(', ') | to_json }}
            }
        ],
        "subnet4": {{ kea_subnet4 | to_json(indent=4) | indent(width=6) }}
    }
}