opentelemetry-operator:
  manager:
    image:
      {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    collectorImage:
      {{ gitops_instance_variables.collector_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    targetAllocatorImage:
      {{ gitops_instance_variables.target_allocator_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    autoInstrumentationImage:
      java:
        {{ gitops_instance_variables.java_instrumentation_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}
      nodejs:
        {{ gitops_instance_variables.nodejs_instrumentation_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}
      python:
        {{ gitops_instance_variables.python_instrumentation_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}
      dotnet:
        {{ gitops_instance_variables.dotnet_instrumentation_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}
      go:
        {{ gitops_instance_variables.go_instrumentation_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}

    serviceMonitor:
      enabled: {{ prometheus_stack_enabled | to_json }}

      extraLabels:
        release: prometheus-stack

    # prometheusRule:

  kubeRBACProxy:
    image:
      {{ gitops_instance_variables.kube_rbac_proxy_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

  admissionWebhooks:
    certManager:
      enabled: false

  testFramework:
    image:
      repository: busybox
      tag: latest
