self_ips: {{ netpol_fqdn2ips.get(gitops_instance_variables.fqdn, [ingress_nginx_load_balancer_ip] if ingress_nginx_load_balancer_ip else []) | to_json }}
{% if gitops_instance_variables.oidc_enabled %}
oidc_ips: {{ netpol_fqdn2ips.get(gitops_instance_variables.oidc_config_url | urlsplit('hostname'), []) | to_json }}
{% endif %}

minio:
  image:
    {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_yaml(default_flow_style=False, width=1337) | indent(width=4) }}

  mcImage:
    {{ gitops_instance_variables.client_image | imagesplit('repository,tag') | to_yaml(default_flow_style=False, width=1337) | indent(width=4) }}

  existingSecret: minio-gitops

  configPathmc: /tmp/minio/mc/

  drivesPerNode: {{ gitops_instance_variables.drives_per_node | to_json }}
  replicas: {{ gitops_instance_variables.replicas | to_json }}
  pools: {{ gitops_instance_variables.pools | to_json }}

  persistence:
    storageClass: {{ gitops_instance_variables.persistence_storageclass | to_json }}
    size: {{ gitops_instance_variables.persistence_size | to_json }}

  ingress:
    enabled: true
    ingressClassName: {{ gitops_instance_variables.ingress_class | to_json }}
    annotations:
      {% if gitops_instance_variables.ingress_certificate_issuer != 'none' %}
      cert-manager.io/cluster-issuer: {{ gitops_instance_variables.ingress_certificate_issuer | to_json }}
      {% endif %}
      # https://min.io/docs/minio/linux/integrations/setup-nginx-proxy-with-minio.html
      # https://github.com/minio/operator/blob/master/docs/nginx-ingress.md
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "300"
      nginx.ingress.kubernetes.io/proxy-buffering: "off"
      nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
      nginx.ingress.kubernetes.io/server-snippet: |
          client_max_body_size 0;
      nginx.ingress.kubernetes.io/configuration-snippet: |
          chunked_transfer_encoding off;
    hosts:
    - {{ gitops_instance_variables.fqdn | to_json }}
    tls:
    - hosts:
      - {{ gitops_instance_variables.fqdn | to_json }}
      {% if gitops_instance_variables.ingress_certificate_issuer != 'none' %}
      secretName: "{{ gitops_instance_variables.fqdn }}-tls"
      {% endif %}

  consoleIngress:
    enabled: true
    ingressClassName: {{ gitops_instance_variables.ingress_class | to_json }}
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubernetes.io/proxy-buffer-size: "8k"
      {% if gitops_instance_variables.console_ingress_certificate_issuer != 'none' %}
      cert-manager.io/cluster-issuer: {{ gitops_instance_variables.console_ingress_certificate_issuer | to_json }}
      {% endif %}
    hosts:
    - {{ gitops_instance_variables.console_fqdn | to_json }}
    tls:
    - hosts:
      - {{ gitops_instance_variables.console_fqdn | to_json }}
      {% if gitops_instance_variables.console_ingress_certificate_issuer != 'none' %}
      secretName: "{{ gitops_instance_variables.console_fqdn }}-tls"
      {% endif %}

  resources:
    requests:
      memory: {{ gitops_instance_variables.memory_request | to_json }}
    limits:
      memory: {{ gitops_instance_variables.memory_limit | to_json }}

  policies:
    {{ gitops_instance_variables.policies | to_yaml(default_flow_style=False, width=1337) | indent(width=4) }}

{% if gitops_instance_variables.users %}
  users:
{% for s3_user in gitops_instance_variables.users %}
  - accessKey: {{ s3_user.accessKey | to_json }}
    existingSecret: minio-secretkeys-gitops
    secretKey: {{ s3_user.accessKey | to_json }}
    existingSecretKey: {{ s3_user.accessKey | to_json }}
    policy: {{ s3_user.policy | default("") | to_json }}
{% endfor %}
{% else %}
  users: []
{% endif %}

  buckets:
    {{ gitops_instance_variables.buckets | to_yaml(default_flow_style=False, width=1337) | indent(width=4) }}

  {% if not gitops_instance_variables.buckets and not gitops_instance_variables.users %}
  # waiting https://github.com/minio/minio/pull/16402
  customCommands:
  - command: version
  {% endif %}

  postJob:
    securityContext:
      enabled: true

  extraSecret: minio-extra-gitops

  podDisruptionBudget:
    enabled: true

  metrics:
    serviceMonitor:
      enabled: {{ prometheus_stack_enabled | to_json }}
      additionalLabels:
        release: prometheus-stack
