option domain-name {{ top_level_domain | to_json }};
option domain-name-servers {{ ansible_facts.dns.nameservers | join(', ') }};

default-lease-time 600;
max-lease-time 7200;

authoritative;

{% for dhcp_subnet in dhcp_subnets %}
subnet {{ dhcp_subnet.network }} netmask {{ dhcp_subnet.netmask }} {
  {% for k, v in dhcp_subnet.items() %}
    {% if k not in ('network', 'netmask', 'pools') %}
  {{ k }} {{ v }};
    {% endif %}
  {% endfor %}
  {% for pool in dhcp_subnet.pools | default([]) %}
  pool {
    {% for k, v in pool.items() %}
    {{ k }} {{ v }};
    {% endfor %}
  }
  {% endfor %}
}
{% endfor %}
