grafana_smtp_host: {{ gitops_instance_variables.grafana_smtp_host | to_json }}
grafana_oidc_url_is_keycloak: {{ (gitops_instance_variables.grafana_oidc_url == "https://" + keycloak_fqdn + "/realms/default") | to_json }}
ingress_nginx_enabled: {{ ingress_nginx_enabled | to_json }}

ingress_nginx_http_error_threshold: {{ ingress_nginx_http_error_threshold |to_json }}

kubelet_pod_pids_limit: {{ kubespray_extravars.kubelet_pod_pids_limit | default(None) | to_json }}

loki_enabled: {{ loki_enabled | to_json }}

vsphere_csi_enabled: {{ vsphere_csi_enabled | to_json }}

tenants:
  {{ tenants | to_nice_yaml(indent=2) | indent(width=2) }}

vault_enabled: {{ vault_enabled | to_json }}

trivy_operator_enabled: {{ trivy_operator_enabled | to_json }}
trivy_operator_metrics_vuln_id_enabled: {{ trivy_operator_metrics_vuln_id_enabled | to_json }}

external_dns_enabled: {{ external_dns_enabled | to_json }}

minio_enabled: {{ minio_enabled | to_json }}
minio_tenant_enabled: {{ minio_tenant_enabled | to_json }}

velero_enabled: {{ velero_enabled | to_json }}

{% if gitops_instance_variables.grafana_oidc_enabled %}
grafana_oidc_ips: {{ netpol_fqdn2ips.get(gitops_instance_variables.grafana_oidc_url | urlsplit('hostname'), []) | to_json }}
{% endif %}

kube-prometheus-stack:
  {% if cilium_enabled and cilium_kube_proxy_replacement not in [false, 'disabled'] %}
  defaultRules:
    rules:
      kubeProxy: false


  {% endif %}
  global:
    rbac:
      createAggregateClusterRoles: {{ gitops_instance_variables.create_aggregate_cluster_roles | to_json }}


  alertmanager:
    ingress:
      enabled: {{ gitops_instance_variables.alertmanager_ingress_enabled | to_json }}
      ingressClassName: {{ gitops_instance_variables.alertmanager_ingress_class | default(gitops_instance_variables.ingress_class) | to_json }}
      {% if gitops_instance_variables.alertmanager_ingress_certificate_issuer != 'none' %}
      annotations:
        cert-manager.io/cluster-issuer: {{ gitops_instance_variables.alertmanager_ingress_certificate_issuer | to_json }}
      {% endif %}
      hosts:
        - {{ gitops_instance_variables.alertmanager_fqdn | to_json }}
      pathType: Prefix
      tls:
      - hosts:
          - {{ gitops_instance_variables.alertmanager_fqdn | to_json }}
        {% if gitops_instance_variables.alertmanager_ingress_certificate_issuer != 'none' %}
        secretName: "alertmanager.{{ gitops_instance_variables.alertmanager_fqdn }}-tls"
      {% endif %}

    alertmanagerSpec:
      image:
        {{ gitops_instance_variables.alertmanager_image | imagesplit('registry,repository,tag,sha', default_digest='') | to_yaml(default_flow_style=False, width=1337) | indent(width=8) }}

      alertmanagerConfigSelector:
        matchLabels:
          release: prometheus-stack

      replicas: 2

      externalUrl: {{ ('https://' + gitops_instance_variables.alertmanager_fqdn + '/') | to_json }}

      resources:
        requests:
          {% if gitops_instance_variables.alertmanager_memory_request %}
          memory: {{ gitops_instance_variables.alertmanager_memory_request | to_json }}
          {% endif %}
          {% if gitops_instance_variables.alertmanager_cpu_request %}
          cpu: {{ gitops_instance_variables.alertmanager_cpu_request | to_json }}
          {% endif %}
        limits:
          {% if gitops_instance_variables.alertmanager_memory_limit %}
          memory: {{ gitops_instance_variables.alertmanager_memory_limit | to_json }}
          {% endif %}
          {% if gitops_instance_variables.alertmanager_cpu_limit %}
          cpu: {{ gitops_instance_variables.alertmanager_cpu_limit | to_json }}
          {% endif %}

    config:
      {{ gitops_instance_variables.alertmanager_config | to_yaml(default_flow_style=False, width=1337) | indent(width=6) }}


  grafana:
    enabled: {{ gitops_instance_variables.grafana_enabled | to_json }}
    downloadDashboards:
      resources:
        requests:
          {% if gitops_instance_variables.grafana_downloaddashboards_memory_request %}
          memory: {{ gitops_instance_variables.grafana_downloaddashboards_memory_request | to_json }}
          {% endif %}
          {% if gitops_instance_variables.grafana_downloaddashboards_cpu_request %}
          cpu: {{ gitops_instance_variables.grafana_downloaddashboards_cpu_request | to_json }}
          {% endif %}
        limits:
          {% if gitops_instance_variables.grafana_downloaddashboards_memory_limit %}
          memory: {{ gitops_instance_variables.grafana_downloaddashboards_memory_limit | to_json }}
          {% endif %}
          {% if gitops_instance_variables.grafana_downloaddashboards_cpu_limit %}
          cpu: {{ gitops_instance_variables.grafana_downloaddashboards_cpu_limit | to_json }}
          {% endif %}
    image:
      {{ gitops_instance_variables.grafana_image | imagesplit('registry,repository,tag,sha', default_digest='') | to_yaml(default_flow_style=False, width=1337) | indent(width=6) }}
    namespaceOverride: grafana
    defaultDashboardsTimezone: {{ gitops_instance_variables.grafana_default_dashboards_timezone | to_json }}
    initChownData:
      enabled: false
    adminPassword:
    admin:
      existingSecret: grafana-admin

    {% if tenants and gitops_instance_variables.grafana_provision_orgs %}
    extraConfigmapMounts:
    - name: orgs
      mountPath: /etc/grafana/provisioning/orgs/orgs.yaml
      subPath: orgs.yaml
      configMap: grafana-orgs
      readOnly: true
    {% endif %}
    podAnnotations:
      checksum/admin-password: {{ gitops_instance_variables.grafana_admin_password | hash('sha256') | to_json }}
      {% if gitops_instance_variables.grafana_oidc_enabled %}
      checksum/oidc: {{ (gitops_instance_variables.grafana_oidc_client_id + '/' + gitops_instance_variables.grafana_oidc_client_secret) | hash('sha256') | to_json }}
      {% endif %}

    podLabels:
      kubitus-project.gitlab.io/inject-ca-bundle-debian: 'true'

    ingress:
      enabled: true
      ingressClassName: {{ gitops_instance_variables.grafana_ingress_class | default(gitops_instance_variables.ingress_class) | to_json }}
      {% if gitops_instance_variables.grafana_ingress_certificate_issuer != 'none' %}
      annotations:
        cert-manager.io/cluster-issuer: {{ gitops_instance_variables.grafana_ingress_certificate_issuer | to_json }}
      {% endif %}
      hosts:
        - {{ gitops_instance_variables.grafana_fqdn | to_json }}
      tls:
      - hosts:
          - {{ gitops_instance_variables.grafana_fqdn | to_json }}
        {% if gitops_instance_variables.grafana_ingress_certificate_issuer != 'none' %}
        secretName: "grafana.{{ gitops_instance_variables.grafana_fqdn }}-tls"
        {% endif %}
    resources:
      requests:
        {% if gitops_instance_variables.grafana_memory_request %}
        memory: {{ gitops_instance_variables.grafana_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.grafana_cpu_request %}
        cpu: {{ gitops_instance_variables.grafana_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.grafana_memory_limit %}
        memory: {{ gitops_instance_variables.grafana_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.grafana_cpu_limit %}
        cpu: {{ gitops_instance_variables.grafana_cpu_limit | to_json }}
        {% endif %}
    service:
      portName: http-web
    persistence:
      type: statefulset
      enabled: true
      # storageClassName: default
      accessModes:
        - ReadWriteOnce
      size: {{ gitops_instance_variables.grafana_persistence_size | to_json }}
      finalizers:
        - kubernetes.io/pvc-protection
    grafana.ini:
      analytics:
        reporting_enabled: false
        check_for_updates: false
        check_for_plugin_updates: false
      server:
        root_url: "https://{{ gitops_instance_variables.grafana_fqdn }}"
{% if gitops_instance_variables.grafana_smtp_host %}
      smtp:
        enabled: true
        host: "{{ gitops_instance_variables.grafana_smtp_host }}"
        skip_verify: true
        from_address: "admin@{{ gitops_instance_variables.grafana_fqdn }}"
        from_name: "Grafana {{ top_level_domain }}"
{% endif %}
{% if gitops_instance_variables.grafana_oidc_enabled %}
      auth:
        disable_login_form: {{ gitops_instance_variables.grafana_auth_disable_login_form | to_json }}
        oauth_auto_login: {{ gitops_instance_variables.grafana_auth_oauth_auto_login | to_json }}
        oauth_allow_insecure_email_lookup: {{ gitops_instance_variables.grafana_auth_oauth_allow_insecure_email_lookup | to_json }}
        {% if gitops_instance_variables.grafana_auth_grafana_admin_to_org_admins %}
        grafana_admin_to_org_admins: true
        {% endif %}
      auth.generic_oauth:
        enabled: true
        client_id:  {{ gitops_instance_variables.grafana_oidc_client_id | to_json }}
        # client_secret: from env
        scopes: openid profile email
        auth_url: {{ gitops_instance_variables.grafana_oidc_auth_url | to_json }}
        token_url: {{ gitops_instance_variables.grafana_oidc_token_url | to_json }}
        api_url: {{ gitops_instance_variables.grafana_oidc_api_url | to_json }}
        allowed_domains: {{ gitops_instance_variables.grafana_generic_oauth_allowed_domains | join(' ') | to_json }}
        # tls_skip_verify_insecure: true
        allow_sign_up: {{ gitops_instance_variables.grafana_generic_oauth_allow_sign_up | to_json }}
        role_attribute_path: {{ gitops_instance_variables.grafana_generic_oauth_role_attribute_path | to_json }}
        role_attribute_strict: true
        {% if gitops_instance_variables.grafana_generic_oauth_org_roles_attribute_path %}
        org_roles_attribute_path: {{ gitops_instance_variables.grafana_generic_oauth_org_roles_attribute_path | to_json }}
        {% endif %}
        {% if gitops_instance_variables.grafana_generic_oauth_org_attribute_path %}
        org_attribute_path: {{ gitops_instance_variables.grafana_generic_oauth_org_attribute_path | to_json }}
        {% endif %}
        {% if gitops_instance_variables.grafana_generic_oauth_org_mapping %}
        org_mapping: {{ gitops_instance_variables.grafana_generic_oauth_org_mapping | to_json }}
        {% endif %}
        allow_assign_grafana_admin: true
    envValueFrom:
      GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET:
        secretKeyRef:
          name: keycloak-client-secret-grafana
          key: CLIENT_SECRET
{% endif %}
    alerting:
      {{ gitops_instance_variables.grafana_alerting | to_yaml(default_flow_style=False, width=1337) | indent(width=6) }}

    sidecar:
      image:
        {{ gitops_instance_variables.grafana_k8s_sidecar_image | imagesplit('registry,repository,tag,sha', default_digest='') | to_yaml(default_flow_style=False, width=1337) | indent(width=8) }}
      dashboards:
        folderAnnotation: grafana_folder
        provider:
          allowUiUpdates: true
          foldersFromFilesStructure: true
        searchNamespace:
        - fluent-bit
        - grafana
        - kube-system
        - sealed-secrets
      resources:
        requests:
          {% if gitops_instance_variables.grafana_sidecar_memory_request %}
          memory: {{ gitops_instance_variables.grafana_sidecar_memory_request | to_json }}
          {% endif %}
          {% if gitops_instance_variables.grafana_sidecar_cpu_request %}
          cpu: {{ gitops_instance_variables.grafana_sidecar_cpu_request | to_json }}
          {% endif %}
        limits:
          {% if gitops_instance_variables.grafana_sidecar_memory_limit %}
          memory: {{ gitops_instance_variables.grafana_sidecar_memory_limit | to_json }}
          {% endif %}
          {% if gitops_instance_variables.grafana_sidecar_cpu_limit %}
          cpu: {{ gitops_instance_variables.grafana_sidecar_cpu_limit | to_json }}
          {% endif %}
    serviceMonitor:
      labels:
        release: prometheus-stack


  kubeControllerManager:
    service:
      targetPort: 10257
    serviceMonitor:
      https: true
      insecureSkipVerify: true


  kubeEtcd:
    service:
      enabled: false


  kubeScheduler:
    service:
      targetPort: 10259
    serviceMonitor:
      https: true
      insecureSkipVerify: true

  {% if cilium_enabled and cilium_kube_proxy_replacement not in [false, 'disabled'] %}

  kubeProxy:
    enabled: false

  {% endif %}

  kube-state-metrics:
    namespaceOverride: kube-state-metrics
    image:
      {{ gitops_instance_variables.kube_state_metrics_image | imagesplit('registry,repository,tag,digest@sha', default_digest='') | to_yaml(default_flow_style=False, width=1337) | indent(width=6) }}
    resources:
      requests:
        {% if gitops_instance_variables.kube_state_metrics_memory_request %}
        memory: {{ gitops_instance_variables.kube_state_metrics_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.kube_state_metrics_cpu_request %}
        cpu: {{ gitops_instance_variables.kube_state_metrics_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.kube_state_metrics_memory_limit %}
        memory: {{ gitops_instance_variables.kube_state_metrics_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.kube_state_metrics_cpu_limit %}
        cpu: {{ gitops_instance_variables.kube_state_metrics_cpu_limit | to_json }}
        {% endif %}


  prometheus-node-exporter:
    image:
      {{ gitops_instance_variables.prometheus_node_exporter_image | imagesplit('registry,repository,tag,digest', default_digest='') | to_yaml(default_flow_style=False, width=1337) | indent(width=6) }}

    prometheus:
      monitor:
        relabelings:
        - sourceLabels: [__meta_kubernetes_pod_node_name]
          separator: ;
          regex: ^(.*)$
          targetLabel: node
          replacement: $1
          action: replace

    resources:
      requests:
        {% if gitops_instance_variables.prometheus_node_exporter_memory_request %}
        memory: {{ gitops_instance_variables.prometheus_node_exporter_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.prometheus_node_exporter_cpu_request %}
        cpu: {{ gitops_instance_variables.prometheus_node_exporter_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.prometheus_node_exporter_memory_limit %}
        memory: {{ gitops_instance_variables.prometheus_node_exporter_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.prometheus_node_exporter_cpu_limit %}
        cpu: {{ gitops_instance_variables.prometheus_node_exporter_cpu_limit | to_json }}
        {% endif %}

    namespaceOverride: prometheus-node-exporter


  prometheusOperator:
    admissionWebhooks:
      patch:
        image:
          {{ gitops_instance_variables.kube_webhook_certgen_image | imagesplit('registry,repository,tag,sha', default_digest='') | to_yaml(default_flow_style=False, width=1337) | indent(width=10) }}
        resources:
          requests:
            {% if gitops_instance_variables.operator_admissionwbebhooks_patch_memory_request %}
            memory: {{ gitops_instance_variables.operator_admissionwbebhooks_patch_memory_request | to_json }}
            {% endif %}
            {% if gitops_instance_variables.operator_admissionwbebhooks_patch_cpu_request %}
            cpu: {{ gitops_instance_variables.operator_admissionwbebhooks_patch_cpu_request | to_json }}
            {% endif %}
          limits:
            {% if gitops_instance_variables.operator_admissionwbebhooks_patch_memory_limit %}
            memory: {{ gitops_instance_variables.operator_admissionwbebhooks_patch_memory_limit | to_json }}
            {% endif %}
            {% if gitops_instance_variables.operator_admissionwbebhooks_patch_cpu_limit %}
            cpu: {{ gitops_instance_variables.operator_admissionwbebhooks_patch_cpu_limit | to_json }}
            {% endif %}
    resources:
      requests:
        {% if gitops_instance_variables.operator_memory_request %}
        memory: {{ gitops_instance_variables.operator_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.operator_cpu_request %}
        cpu: {{ gitops_instance_variables.operator_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.operator_memory_limit %}
        memory: {{ gitops_instance_variables.operator_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.operator_cpu_limit %}
        cpu: {{ gitops_instance_variables.operator_cpu_limit | to_json }}
        {% endif %}
    image:
      {{ gitops_instance_variables.operator_image | imagesplit('registry,repository,tag,sha', default_digest='') | to_yaml(default_flow_style=False, width=1337) | indent(width=6) }}
    prometheusConfigReloader:
      image:
        {{ gitops_instance_variables.config_reloader_image | imagesplit('registry,repository,tag,sha', default_digest='') | to_yaml(default_flow_style=False, width=1337) | indent(width=8) }}


  prometheus:
    ingress:
      enabled: {{ gitops_instance_variables.prometheus_ingress_enabled | to_json }}
      ingressClassName: {{ gitops_instance_variables.prometheus_ingress_class | default(gitops_instance_variables.ingress_class) | to_json }}
      {% if gitops_instance_variables.prometheus_ingress_certificate_issuer != 'none' %}
      annotations:
        cert-manager.io/cluster-issuer: {{ gitops_instance_variables.prometheus_ingress_certificate_issuer | to_json }}
      {% endif %}
      hosts:
        - {{ gitops_instance_variables.prometheus_fqdn | to_json }}
      pathType: Prefix
      tls:
      - hosts:
          - {{ gitops_instance_variables.prometheus_fqdn | to_json }}
        {% if gitops_instance_variables.prometheus_ingress_certificate_issuer != 'none' %}
        secretName: "{{ gitops_instance_variables.prometheus_fqdn }}-tls"
        {% endif %}


    prometheusSpec:
      image:
        {{ gitops_instance_variables.prometheus_image | imagesplit('registry,repository,tag,sha', default_digest='') | to_yaml(default_flow_style=False, width=1337) | indent(width=8) }}

      externalUrl: {{ ('https://' + gitops_instance_variables.prometheus_fqdn + '/') | to_json }}

      retention: {{ gitops_instance_variables.prometheus_retention | to_json }}

      resources:
        requests:
          {% if gitops_instance_variables.prometheus_memory_request %}
          memory: {{ gitops_instance_variables.prometheus_memory_request | to_json }}
          {% endif %}
          {% if gitops_instance_variables.prometheus_cpu_request %}
          cpu: {{ gitops_instance_variables.prometheus_cpu_request | to_json }}
          {% endif %}
        limits:
          {% if gitops_instance_variables.prometheus_memory_limit %}
          memory: {{ gitops_instance_variables.prometheus_memory_limit | to_json }}
          {% endif %}
          {% if gitops_instance_variables.prometheus_cpu_limit %}
          cpu: {{ gitops_instance_variables.prometheus_cpu_limit | to_json }}
          {% endif %}

      storageSpec:
        volumeClaimTemplate:
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage:  {{ gitops_instance_variables.prometheus_persistence_size | to_json }}

      enforcedNamespaceLabel: namespace
      excludedFromEnforcement:
      - group: monitoring.coreos.com
        resource: servicemonitors
        namespace: prometheus-stack
        name: prometheus-stack-kube-prom-alertmanager
      - group: monitoring.coreos.com
        resource: servicemonitors
        namespace: prometheus-stack
        name: prometheus-stack-kube-prom-apiserver
      - group: monitoring.coreos.com
        resource: servicemonitors
        namespace: prometheus-stack
        name: prometheus-stack-kube-prom-coredns
      - group: monitoring.coreos.com
        resource: servicemonitors
        namespace: prometheus-stack
        name: prometheus-stack-kube-prom-kube-controller-manager
      - group: monitoring.coreos.com
        resource: servicemonitors
        namespace: prometheus-stack
        name: prometheus-stack-kube-prom-kube-etcd
      - group: monitoring.coreos.com
        resource: servicemonitors
        namespace: prometheus-stack
        name: prometheus-stack-kube-prom-kube-scheduler
      - group: monitoring.coreos.com
        resource: servicemonitors
        namespace: prometheus-stack
        name: prometheus-stack-kube-prom-kubelet
      - group: monitoring.coreos.com
        resource: servicemonitors
        namespace: prometheus-stack
        name: prometheus-stack-kube-prom-operator
      - group: monitoring.coreos.com
        resource: servicemonitors
        namespace: prometheus-stack
        name: prometheus-stack-kube-prom-prometheus
      - group: monitoring.coreos.com
        resource: servicemonitors
        namespace: kube-state-metrics
        name: prometheus-stack-kube-state-metrics
      # custom-rules
      - group: monitoring.coreos.com
        resource: prometheusrules
        namespace: prometheus-stack
        name: kubernetes-terminating-state
      - group: monitoring.coreos.com
        resource: prometheusrules
        namespace: prometheus-stack
        name: kubernetes-pod-cpu-limit
      - group: monitoring.coreos.com
        resource: prometheusrules
        namespace: prometheus-stack
        name: kubernetes-container-oomkiller
      {% if ingress_nginx_enabled %}
      # ingress-nginx
        {% for ingress_nginx_instance in ingress_nginx_instances | default(['default']) %}
          {% set ingress_nginx_instance_suffix = ('-' + ingress_nginx_instance) if ingress_nginx_instance != 'default' else '' %}
      - group: monitoring.coreos.com
        resource: servicemonitors
        namespace: ingress-nginx{{ ingress_nginx_instance_suffix }}
        name: ingress-nginx{{ ingress_nginx_instance_suffix }}-controller
        {% endfor %}
      {% endif %}
      # promtail
      - group: monitoring.coreos.com
        resource: servicemonitors
        namespace: promtail
        name: promtail
      # trivy-operator
      - group: monitoring.coreos.com
        resource: servicemonitors
        namespace: trivy-system
        name: trivy-operator
      # opencost
      - group: monitoring.coreos.com
        resource: servicemonitors
        namespace: opencost
        name: opencost
      {% if gitops_instance_variables.excluded_from_enforcement %}
      {{ gitops_instance_variables.excluded_from_enforcement | to_nice_yaml(indent=2) | indent(width=6) }}
      {% endif %}
