prom-label-proxy:
  image:
    {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}


  resources:
    requests:
      {% if gitops_instance_variables.memory_request %}
      memory: {{ gitops_instance_variables.memory_request | to_json }}
      {% endif %}
      {% if gitops_instance_variables.cpu_request %}
      cpu: {{ gitops_instance_variables.cpu_request | to_json }}
      {% endif %}
    limits:
      {% if gitops_instance_variables.memory_limit %}
      memory: {{ gitops_instance_variables.memory_limit | to_json }}
      {% endif %}
      {% if gitops_instance_variables.cpu_limit %}
      cpu: {{ gitops_instance_variables.cpu_limit | to_json }}
      {% endif %}


  config:
    upstream: http://prometheus-stack-kube-prom-prometheus.prometheus-stack:9090/
    label: namespace
    extraArgs:
    - --enable-label-apis=true
    - --error-on-replace=true
    - --header-name=X-Namespace


  metrics:
    enabled: {{ prometheus_stack_enabled | to_json }}
    serviceMonitor:
      enabled: {{ prometheus_stack_enabled | to_json }}
      additionalLabels:
        release: prometheus-stack
