fluent_bit_enabled: {{ fluent_bit_enabled | to_json }}

opentelemetry-collector:
  mode: {{ gitops_instance_variables.mode | to_json }}



  presets:
    logsCollection:
      enabled: {{ gitops_instance_variables.logs_collection_enabled | to_json }}
      {% if gitops_instance_variables.logs_collection_enabled %}
      storeCheckpoints: true
      {% endif %}


    hostMetrics:
      enabled: {{ gitops_instance_variables.host_metrics_enabled | to_json }}


    kubernetesAttributes:
      enabled: {{ gitops_instance_variables.kubernetes_attributes_enabled | to_json }}


    kubeletMetrics:
      enabled: {{ gitops_instance_variables.kubelet_metrics_enabled | to_json }}


    kubernetesEvents:
      enabled: {{ gitops_instance_variables.kubernetes_events_enabled | to_json }}


    clusterMetrics:
      enabled: {{ gitops_instance_variables.cluster_metrics_enabled | to_json }}



  config:
    processors:
      transform/flatten-kubernetesEvents:
        error_mode: ignore
        log_statements:
        - context: log
          statements:
          # https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/27069
          - merge_maps(cache, body["object"], "upsert") where IsMap(body) and body["object"] != nil
          - set(resource.attributes["k8s.namespace.name"], cache["regarding"]["namespace"])
          - set(resource.attributes["k8s.application.name"], cache["regarding"]["name"]) where cache["regarding"]["kind"] == "Application"
          - set(resource.attributes["k8s.deployment.name"], cache["regarding"]["name"]) where cache["regarding"]["kind"] == "Deployment"
          - set(resource.attributes["k8s.job.name"], cache["regarding"]["name"]) where cache["regarding"]["kind"] == "Job"
          - set(resource.attributes["k8s.pod.name"], cache["regarding"]["name"]) where cache["regarding"]["kind"] == "Pod"
          - set(resource.attributes["k8s.replicaset.name"], cache["regarding"]["name"]) where cache["regarding"]["kind"] == "ReplicaSet"
          - set(resource.attributes["k8s.service.name"], cache["regarding"]["name"]) where cache["regarding"]["kind"] == "Service"
          - set(resource.attributes["k8s.tenant.name"], cache["regarding"]["name"]) where cache["regarding"]["kind"] == "Tenant"
          # More
          - set(severity_text, cache["type"])
          - set(severity_number, SEVERITY_NUMBER_WARN) where cache["type"] == "Warning"
          - set(attributes["k8s.event.reason"], cache["reason"])
          - set(attributes["k8s.event.type"], cache["type"])
          - set(body, cache["note"])


      k8sattributes:
        extract:
          labels:
          - tag_name: k8s.app.name
            key: app.kubernetes.io/name
            from: pod
          - tag_name: k8s.app.instance
            key: app.kubernetes.io/instance
            from: pod
          - tag_name: k8s.app.version
            key: app.kubernetes.io/version
            from: pod
          - tag_name: k8s.app.component
            key: app.kubernetes.io/component
            from: pod
          - tag_name: k8s.app.part_of
            key: app.kubernetes.io/part-of
            from: pod
          - tag_name: k8s.app.managed_by
            key: app.kubernetes.io/managed-by
            from: pod

      # k8sobjects
      attributes/trim-kubernetesEvents:
        include:
          match_type: strict
          attributes:
          - key: k8s.resource.name
            value: events
        actions:
        - action: delete
          key: event.name

      # filelog
      attributes/trim-logsCollection:
        include:
          match_type: regexp
          attributes:
          - key: log.file.path
        actions:
        - action: delete
          key: logtag

      resource/trim-k8sattributes:
        attributes:
        - action: delete
          key: k8s.pod.uid
        - action: delete
          key: k8s.pod.start_time
        - action: delete
          key: k8s.container.restart_count
        - action: insert
          key: loki.format
          value: raw
        - action: insert
          key: loki.tenant
          value: tenant_id
        # added by us
        - action: delete
          key: k8s.app.version

      attributes/set-loki-labels:
        actions:
        - action: insert
          key: loki.attribute.labels
          value:
            event.domain,
            k8s.resource.name, k8s.event.type, k8s.event.reason,
            log.file.path, log.iostream,

      # https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/21045
      resource/set-loki-labels:
        attributes:
        - action: insert
          key: loki.resource.labels
          value:
            k8s.namespace.name,
            k8s.application.name,
            k8s.deployment.name, k8s.statefulset.name, k8s.daemonset.name, k8s.replicaset.name,
            k8s.cronjob.name, k8s.job.name,
            k8s.node.name,
            k8s.pod.name,
            k8s.container.name,
            k8s.app.name, k8s.app.instance, k8s.app.component, k8s.app.part_of, k8s.app.managed_by

      {% if tenants %}
      transform/loki-tenant:
        error_mode: ignore
        log_statements:
        - context: log
          statements:
          - set(resource.attributes["tenant_id"], "1")
      {% for tenant in tenants %}
          - set(resource.attributes["tenant_id"], {{ tenant.name | to_json }})
            where IsMatch(resource.attributes["k8s.namespace.name"], {{ ('^(' + tenant.namespaces | join('|') + ')$') | to_json  }})
      {% endfor %}

      {% endif %}

      {% if gitops_instance_variables.mode == 'deployment' %}
      transform/extract-systemd:
        error_mode: ignore
        log_statements:
        - context: log
          statements:
          - set(resource.attributes["tenant_id"], "1")
          - set(resource.attributes["loki.tenant"], "tenant_id")
          - set(resource.attributes["loki.format"], "raw")

          - set(attributes, body)
          # man systemd.journal-fields(7)
          - set(attributes["loki.attribute.labels"], "
             message_id, priority, code_file, code_line, code_func, errno, syslog_facility, syslog_identifier, syslog_pid,
             pid, uid, gid, comm, exe, cmdline, audit_session, audit_loginuid, systemd_cgroup, systemd_slice, systemd_unit, systemd_user_unit, systemd_user_slice, systemd_session, systemd_owner_uid, hostname, transport,
             kernel_device, kernel_subsystem, udev_sysname, udev_devnode, udev_devlink
             ")
          - set(body, body["message"])


      {% endif %}
    exporters:
      loki:
        endpoint: http://loki.loki.svc:3100/loki/api/v1/push
        tls:
          insecure: true
        {% if not tenants %}
        headers:
          X-Scope-OrgID: 1
        {% endif %}

    service:
      pipelines:
        logs:
          receivers:
          {% if gitops_instance_variables.logs_collection_enabled %}
          - filelog
          {% endif %}
          {% if gitops_instance_variables.kubernetes_events_enabled %}
          - k8sobjects
          {% endif %}
          processors:
          {% if gitops_instance_variables.kubernetes_events_enabled %}
          - transform/flatten-kubernetesEvents
          {% endif %}
          - k8sattributes
          - memory_limiter
          - attributes/trim-kubernetesEvents
          - attributes/trim-logsCollection
          - resource/trim-k8sattributes
          - attributes/set-loki-labels
          - resource/set-loki-labels
          {% if tenants %}
          - transform/loki-tenant
          {% endif %}
          - batch
          exporters:
          - loki

        {% if gitops_instance_variables.mode == 'deployment' %}
        logs/2:
          receivers:
          - otlp
          {% if tenants %}
          processors:
          - transform/extract-systemd
          {% endif %}
          exporters:
          - loki
        {% endif %}

        metrics:
          exporters:
          - debug

        traces:
          exporters:
          - debug



  image:
    {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}



  ports:
    metrics:
      enabled: {{ prometheus_stack_enabled | to_json }}



  resources:
    requests:
      {% if gitops_instance_variables.memory_request %}
      memory: {{ gitops_instance_variables.memory_request | to_json }}
      {% endif %}
      {% if gitops_instance_variables.cpu_request %}
      cpu: {{ gitops_instance_variables.cpu_request | to_json }}
      {% endif %}


    limits:
      {% if gitops_instance_variables.memory_limit %}
      memory: {{ gitops_instance_variables.memory_limit | to_json }}
      {% endif %}
      {% if gitops_instance_variables.cpu_limit %}
      cpu: {{ gitops_instance_variables.cpu_limit | to_json }}
      {% endif %}



  podMonitor:
    enabled: {{ prometheus_stack_enabled | to_json }}


    extraLabels:
      release: prometheus-stack



  serviceMonitor:
    enabled: {{ prometheus_stack_enabled | to_json }}


    extraLabels:
      release: prometheus-stack



  prometheusRule:
    enabled: {{ prometheus_stack_enabled | to_json }}


    defaultRules:
      enabled: true


    extraLabels:
      release: prometheus-stack
