gitops_instance_variables:
  certs: {{ gitops_instance_variables.certs | to_json }}

# https://gitlab.com/gitlab-org/charts/gitlab-runner/blob/main/values.yaml
gitlab-runner:
  image:
    {{ gitops_instance_variables.image | imagesplit('registry,image,tag') | to_nice_yaml(indent=2) | indent(width=4) }}

  replicas: {{ gitops_instance_variables.replicas | to_json }}

  gitlabUrl: {{ gitops_instance_variables.gitlab_url | to_json }}

  runnerRegistrationToken: {{ gitops_instance_variables.registration_token | to_json }}

  certsSecretName: gitlab-gitops

  concurrent: {{ gitops_instance_variables.concurrent | to_json }}

  checkInterval: {{ gitops_instance_variables.check_interval | to_json }}

  rbac:
    create: true

  metrics:
    enabled: {{ prometheus_stack_enabled | to_json }}
    serviceMonitor:
      enabled: true
      labels:
        release: prometheus-stack

  service:
    enabled: {{ prometheus_stack_enabled | to_json }}

  runners:
    config: |
      [[runners]]
        [runners.kubernetes]
          helper_image = {{ gitops_instance_variables.helper_image | to_json }}
          image = {{ gitops_instance_variables.default_image | to_json }}
          pull_policy = "always"
          pod_labels_overwrite_allowed = "kubitus-project.gitlab.io/inject-ca-bundle-.*"
          {% for setting in gitops_instance_variables.settings %}
          {% if lookup('vars', 'gitlab_runner' + '_' + setting, default=false) %}
          {{ setting }} = {{ lookup('vars', 'gitlab_runner' + '_' + setting) | to_json }}
          {% endif %}
          {% endfor %}
    tags: {{ gitops_instance_variables.tags | to_json }}

  podAnnotations:
    checksum/gitlab-runner-certs: {{ gitops_instance_variables.certs | hash('sha256') | to_json }}
