kube_oidc_auth: {{ kube_oidc_auth | to_json }}
kube_oidc_url_is_keycloak: {{ (kube_oidc_url == "https://" + gitops_instance_variables.fqdn + "/auth/realms/default") | to_json }}
kube_oidc_client_id: {{ kube_oidc_client_id | to_json }}

keycloakSpec:
  instances: 1
  db:
    vendor: postgres
    host: keycloak-postgresql-rw
    usernameSecret:
      name: keycloak-postgresql-app
      key: username
    passwordSecret:
      name: keycloak-postgresql-app
      key: password
  http:
    tlsSecret: keycloak-tls
  hostname:
    hostname: {{ gitops_instance_variables.fqdn | to_json }}
  ingress:
    className: {{ gitops_instance_variables.ingress_class | to_json }}
    annotations:
      {% if gitops_instance_variables.ingress_certificate_issuer != 'none' %}
      cert-manager.io/cluster-issuer: {{ gitops_instance_variables.ingress_certificate_issuer | to_json }}
      {% endif %}
      nginx.ingress.kubernetes.io/backend-protocol: HTTPS
  # FIXME https://github.com/keycloak/keycloak-containers/issues/402
  # https://www.keycloak.org/server/keycloak-truststore
  unsupported:
    podTemplate:
      spec:
        containers:
          - env:
            - name: X509_CA_BUNDLE
              value: '/var/run/secrets/kubernetes.io/serviceaccount/*.crt /usr/local/share/ca-certificates/*.crt'
            volumeMounts:
              - name: local-ca-certificates
                mountPath: /usr/local/share/ca-certificates
        volumes:
        - name: local-ca-certificates
          configMap:
            name: local-ca-certificates

keycloakRealmSpec:
  keycloakCRName: keycloak
  realm:
    id: default
    realm: default
    displayName: Default realm
    identityProviders:
      {{ gitops_instance_variables.identity_providers | to_yaml(default_flow_style=False, width=1337) | indent(width=4) }}

localCaCertificates:
  {{ local_ca_certificates | to_json }}

# https://gitlab.com/kubitus-project/external-helm-charts/keycloak-operator/-/blob/main/values.yaml
keycloak-operator:
  watchNamespaces:
  - keycloak

  image:
    {{ gitops_instance_variables.operator_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}

  keycloakImage:
    {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}

  fullnameOverride: keycloak-operator


# https://gitlab.com/kubitus-project/external-helm-charts/keycloak-operator-legacy/-/blob/main/values.yaml
keycloak-operator-legacy:
  watchNamespaces:
  - keycloak
  - grafana

  image:
    {{ gitops_instance_variables.operator_legacy_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}

  fullnameOverride: keycloak-operator-legacy
