promtail_enabled: {{ promtail_enabled | to_json }}
opentelemetry_collector_enabled: {{ opentelemetry_collector_enabled |  to_json }}

# https://github.com/grafana/loki/blob/main/production/helm/loki/values.yaml
loki:
  global:
    dnsService: coredns


  kubectlImage:
    {{ gitops_instance_variables.kubectl_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=4) }}


  loki:
    image:
      {{ gitops_instance_variables.image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    {% if tenants %}
    tenants: true

    {% endif %}
    limits_config:
      retention_period: {{ gitops_instance_variables.retention_period | to_json }}
      # enforce_metric_name: false
      # reject_old_samples: true
      # reject_old_samples_max_age: 168h
      split_queries_by_interval: {{ gitops_instance_variables.split_queries_by_interval | to_json }}
      {% if gitops_instance_variables.max_query_parallelism %}
      max_query_parallelism: {{ gitops_instance_variables.max_query_parallelism | to_json }}
      {% endif %}

    {% if gitops_instance_variables.max_outstanding_requests_per_tenant %}
    query_scheduler:
      max_outstanding_requests_per_tenant: {{ gitops_instance_variables.max_outstanding_requests_per_tenant | to_json }}

    {% endif %}
    {% if gitops_instance_variables.max_outstanding_per_tenant %}
    frontend:
      max_outstanding_per_tenant: {{ gitops_instance_variables.max_outstanding_per_tenant | to_json }}

    {% endif %}
    commonConfig:
      replication_factor: 1

    storage:
      type: filesystem

    rulerConfig:
      storage:
        type: local

    compactor:
      # shared_store: filesystem
      # compaction_interval: 10m
      retention_enabled: {{ gitops_instance_variables.retention_enabled | to_json }}
      # retention_delete_delay: 2h
      # retention_delete_worker_count: 150

    analytics:
      reporting_enabled: false


  memberlist:
    service:
      publishNotReadyAddresses: true


  gateway:
    {% if tenants %}
    enabled: true
    {% else %}
    enabled: false
    {% endif %}
    image:
      {{ gitops_instance_variables.gateway_image | imagesplit('registry,repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    resources:
      requests:
        {% if gitops_instance_variables.gateway_memory_request %}
        memory: {{ gitops_instance_variables.gateway_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.gateway_cpu_request %}
        cpu: {{ gitops_instance_variables.gateway_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.gateway_memory_limit %}
        memory: {{ gitops_instance_variables.gateway_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.gateway_cpu_limit %}
        cpu: {{ gitops_instance_variables.gateway_cpu_limit | to_json }}
        {% endif %}

    basicAuth:
      enabled: true
      existingSecret: kubitus-basic-auth


  test:
    enabled: false


  monitoring:
    rules:
      labels:
        release: prometheus-stack

    serviceMonitor:
      enabled: {{ prometheus_stack_enabled | to_json }}
      labels:
        release: prometheus-stack
      metricsInstance:
        enabled: false

    selfMonitoring:
      enabled: false
      grafanaAgent:
        installOperator: false

    lokiCanary:
      enabled: false


  write:
    persistence:
      size: {{ gitops_instance_variables.write_persistence_size | to_json }}

    resources:
      requests:
        {% if gitops_instance_variables.write_memory_request %}
        memory: {{ gitops_instance_variables.write_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.write_cpu_request %}
        cpu: {{ gitops_instance_variables.write_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.write_memory_limit %}
        memory: {{ gitops_instance_variables.write_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.write_cpu_limit %}
        cpu: {{ gitops_instance_variables.write_cpu_limit | to_json }}
        {% endif %}


  read:
    persistence:
      size: {{ gitops_instance_variables.read_persistence_size | to_json }}

    resources:
      requests:
        {% if gitops_instance_variables.read_memory_request %}
        memory: {{ gitops_instance_variables.read_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.read_cpu_request %}
        cpu: {{ gitops_instance_variables.read_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.read_memory_limit %}
        memory: {{ gitops_instance_variables.read_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.read_cpu_limit %}
        cpu: {{ gitops_instance_variables.read_cpu_limit | to_json }}
        {% endif %}


  singleBinary:
    replicas: 1

    persistence:
      enableStatefulSetAutoDeletePVC: false  # FIXME alpha since 1.22
      size: {{ gitops_instance_variables.single_binary_persistence_size | to_json }}

    resources:
      requests:
        {% if gitops_instance_variables.single_binary_memory_request %}
        memory: {{ gitops_instance_variables.single_binary_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.single_binary_cpu_request %}
        cpu: {{ gitops_instance_variables.single_binary_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.single_binary_memory_limit %}
        memory: {{ gitops_instance_variables.single_binary_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.single_binary_cpu_limit %}
        cpu: {{ gitops_instance_variables.single_binary_cpu_limit | to_json }}
        {% endif %}
