service:
  externalName: {{ gitops_instance_variables.service_external_name | to_json }}

ingress:
  enabled: true
  ingressClassName: {{ gitops_instance_variables.ingress_class | to_json }}
  annotations:
    {% if gitops_instance_variables.ingress_certificate_issuer != 'none' %}
    cert-manager.io/cluster-issuer: {{ gitops_instance_variables.ingress_certificate_issuer | to_json }}
    {% endif %}
    nginx.ingress.kubernetes.io/proxy-read-timeout: '7200'
    nginx.ingress.kubernetes.io/server-snippet: |
      client_header_buffer_size 40k;
      large_client_header_buffers 4 40k;
  hosts:
  - {{ gitops_instance_variables.fqdn | to_json }}
  tls:
  - hosts:
      - {{ gitops_instance_variables.fqdn | to_json }}
  {% if gitops_instance_variables.ingress_certificate_issuer != 'none' %}
  secretName: "{{ gitops_instance_variables.fqdn }}-tls"
  {% endif %}
