# https://github.com/grafana/helm-charts/blob/main/charts/promtail/values.yaml
promtail:
  image:
    {{ gitops_instance_variables.image | imagesplit('registry,repository,tag') | to_yaml(default_flow_style=False, width=1337) | indent(width=4) }}


  containerSecurityContext:
    runAsNonRoot: false


  rbac:
    create: true


  tolerations:
    - operator: Exists


  {% if gitops_instance_variables.journald_enabled %}
  # Mount journal directory and machine-id file into promtail pods
  extraVolumes:
    - name: journal
      hostPath:
        path: /var/log/journal
    - name: machine-id
      hostPath:
        path: /etc/machine-id


  extraVolumeMounts:
    - name: journal
      mountPath: /var/log/journal
      readOnly: true
    - name: machine-id
      mountPath: /etc/machine-id
      readOnly: true

  {% endif %}
  serviceMonitor:
    enabled: {{ prometheus_stack_enabled | to_json }}
    labels:
      release: prometheus-stack
    prometheusRule:
      enabled: {{ prometheus_stack_enabled | to_json }}
      additionalLabels:
        release: prometheus-stack
      rules:
        {% raw %}
        - alert: PromtailRequestErrors
          expr: 100 * sum(rate(promtail_request_duration_seconds_count{status_code=~"5..|failed"}[1m])) by (namespace, job, route, instance) / sum(rate(promtail_request_duration_seconds_count[1m])) by (namespace, job, route, instance) > 10
          for: 5m
          labels:
            severity: critical
          annotations:
            description: |
              The {{ $labels.job }} {{ $labels.route }} is experiencing
              {{ printf "%.2f" $value }} errors.
              VALUE = {{ $value }}
              LABELS = {{ $labels }}
            summary: Promtail request errors (instance {{ $labels.instance }})
        - alert: PromtailRequestLatency
          expr: histogram_quantile(0.99, sum(rate(promtail_request_duration_seconds_bucket[5m])) by (le)) > 1
          for: 5m
          labels:
            severity: critical
          annotations:
            summary: Promtail request latency (instance {{ $labels.instance }})
            description: |
              The {{ $labels.job }} {{ $labels.route }} is experiencing
              {{ printf "%.2f" $value }}s 99th percentile latency.
              VALUE = {{ $value }}
              LABELS = {{ $labels }}
        {% endraw %}
  podSecurityPolicy:
    privileged: false # default true
    allowPrivilegeEscalation: false # default true


  resources:
    requests:
      {% if gitops_instance_variables.memory_request %}
      memory: {{ gitops_instance_variables.memory_request | to_json }}
      {% endif %}
      {% if gitops_instance_variables.cpu_request %}
      cpu: {{ gitops_instance_variables.cpu_request | to_json }}
      {% endif %}
    limits:
      {% if gitops_instance_variables.memory_limit %}
      memory: {{ gitops_instance_variables.memory_limit | to_json }}
      {% endif %}
      {% if gitops_instance_variables.cpu_limit %}
      cpu: {{ gitops_instance_variables.cpu_limit | to_json }}
      {% endif %}


  config:
    clients:
      - url: http://loki.loki.svc:3100/loki/api/v1/push
        tenant_id: 1

    snippets:
      pipelineStages:
      - cri: {}
      {% for tenant in tenants %}
      - match:
          selector: '{namespace=~"{{ tenant.namespaces | join('|')  }}"}'
          stages:
          - tenant:
              value: {{ tenant.name }}
      {% endfor %}
      {% if gitops_instance_variables.extra_pipeline_stages %}
      {{ gitops_instance_variables.extra_pipeline_stages | to_nice_yaml(indent=2) | indent(width=6) }}
      {% endif %}
      {% if gitops_instance_variables.journald_enabled %}

      extraScrapeConfigs: |
        # Add an additional scrape config for syslog
        - job_name: journal
          journal:
            path: /var/log/journal
            max_age: 12h
            labels:
              job: systemd-journal
          relabel_configs:
            - source_labels:
                - __journal__hostname
              target_label: hostname

            # example label values: kubelet.service, containerd.service
            - source_labels:
                - __journal__systemd_unit
              target_label: unit

            # example label values: debug, notice, info, warning, error
            - source_labels:
                - __journal_priority_keyword
              target_label: level
      {% endif %}
