operator:
  operator:
    env:
    - name: PROMETHEUS_NAMESPACE
      value: prometheus-stack

    image:
      {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    resources:
      requests:
        cpu: {{ gitops_instance_variables.cpu_request | to_json }}
        memory: {{ gitops_instance_variables.memory_request | to_json }}
      limits:
        cpu: {{ gitops_instance_variables.cpu_limit | to_json }}
        memory: {{ gitops_instance_variables.memory_limit | to_json }}

  console:
    image:
      {{ gitops_instance_variables.image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    resources:
      requests:
        cpu: {{ gitops_instance_variables.console_cpu_request | to_json }}
        memory: {{ gitops_instance_variables.console_memory_request | to_json }}
      limits:
        cpu: {{ gitops_instance_variables.console_cpu_limit | to_json }}
        memory: {{ gitops_instance_variables.console_memory_limit | to_json }}

    ingress:
      enabled: {{ gitops_instance_variables.console_ingress_enabled | to_json }}
      ingressClassName: {{ gitops_instance_variables.console_ingress_class | default(gitops_instance_variables.ingress_class) | to_json }}
      annotations:
        {% if gitops_instance_variables.console_ingress_certificate_issuer != 'none' %}
        cert-manager.io/cluster-issuer: {{ gitops_instance_variables.console_ingress_certificate_issuer | to_json }}
        {% endif %}
      host: {{ gitops_instance_variables.console_fqdn | to_json }}
      tls:
      - hosts:
        - {{ gitops_instance_variables.console_fqdn | to_json }}
        {% if gitops_instance_variables.console_ingress_certificate_issuer != 'none' %}
        secretName: "{{ gitops_instance_variables.console_fqdn }}-tls"
        {% endif %}
