gitops_instance_variables:
  ip_range: {{ gitops_instance_variables.ip_range | to_json }}

metallb:
  prometheus:
    serviceAccount: prometheus-stack-kube-prom-prometheus
    namespace: prometheus-stack

    podMonitor:
      enabled: {{ prometheus_stack_enabled | to_json }}
      additionalLabels:
        release: prometheus-stack

    prometheusRule:
      enabled: {{ prometheus_stack_enabled | to_json }}
      additionalLabels:
        release: prometheus-stack
      addressPoolExhausted:
        enabled: {{ gitops_instance_variables.alert_addresspool_exhausted_enabled | to_json }}
      addressPoolUsage:
        enabled: {{ gitops_instance_variables.alert_addresspool_usage_enabled | to_json }}
        thresholds: {{ gitops_instance_variables.alert_addresspool_usage_thresholds | to_json }}


  controller:
    image:
      {{ gitops_instance_variables.controller_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    resources:
      requests:
        {% if gitops_instance_variables.controller_memory_request %}
        memory: {{ gitops_instance_variables.controller_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.controller_cpu_request %}
        cpu: {{ gitops_instance_variables.controller_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.controller_memory_limit %}
        memory: {{ gitops_instance_variables.controller_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.controller_cpu_limit %}
        cpu: {{ gitops_instance_variables.controller_cpu_limit | to_json }}
        {% endif %}

    nodeSelector:
      kubernetes.io/os: "linux"


  speaker:
    image:
      {{ gitops_instance_variables.speaker_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=6) }}

    resources:
      requests:
        {% if gitops_instance_variables.speaker_memory_request %}
        memory: {{ gitops_instance_variables.speaker_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.speaker_cpu_request %}
        cpu: {{ gitops_instance_variables.speaker_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.speaker_memory_limit %}
        memory: {{ gitops_instance_variables.speaker_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.speaker_cpu_limit %}
        cpu: {{ gitops_instance_variables.speaker_cpu_limit | to_json }}
        {% endif %}

    nodeSelector:
      kubernetes.io/os: "linux"
      kubitus-project/public: "true"

    tolerations:
    - key: "kubitus-project/public"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"

    frr:
      enabled: false
