{% if gitops_instance_variables.from_cidrs %}
  {% if not cilium_enabled %}
kube_apiserver_addresses:
    {% set kube_apiserver_addresses = [] %}
    {% for cp in groups['kube_control_plane'] %}
      {% set ansible_default_ipv4_interface = hostvars[cp].ansible_facts.default_ipv4.interface %}
      {% set tmp = kube_apiserver_addresses.append(
          hostvars[cp].ansible_facts[ansible_default_ipv4_interface].ipv4.address
      ) %}
      {% for secondary in hostvars[cp].ansible_facts[ansible_default_ipv4_interface].ipv4_secondaries | default([]) %}
        {% set tmp2 = kube_apiserver_addresses.append(
          secondary.address
        ) %}
      {% endfor %}
    {% endfor %}
  {{ kube_apiserver_addresses |  to_nice_yaml(indent=2) | indent(width=2) }}
  {% endif %}
{% endif %}
gitops_instance_variables:
  from_cidrs:
    {{ gitops_instance_variables.from_cidrs | to_nice_yaml(indent=2) | indent(4) }}

defaultbackend_custom_error_enabled: {{ gitops_instance_variables.defaultbackend_custom_error_enabled | to_json }}
status_408_warning_threshold: {{ gitops_instance_variables.status_408_warning_threshold | to_json }}
status_408_critical_threshold: {{ gitops_instance_variables.status_408_critical_threshold | to_json }}
status_422_warning_threshold: {{ gitops_instance_variables.status_422_warning_threshold | to_json }}
status_422_critical_threshold: {{ gitops_instance_variables.status_422_critical_threshold | to_json }}
status_499_warning_threshold: {{ gitops_instance_variables.status_499_warning_threshold | to_json }}
status_499_critical_threshold: {{ gitops_instance_variables.status_499_critical_threshold | to_json }}
status_500_warning_threshold: {{ gitops_instance_variables.status_500_warning_threshold | to_json }}
status_500_critical_threshold: {{ gitops_instance_variables.status_500_critical_threshold | to_json }}
status_502_warning_threshold: {{ gitops_instance_variables.status_502_warning_threshold | to_json }}
status_502_critical_threshold: {{ gitops_instance_variables.status_502_critical_threshold | to_json }}
status_503_warning_threshold: {{ gitops_instance_variables.status_503_warning_threshold | to_json }}
status_503_critical_threshold: {{ gitops_instance_variables.status_503_critical_threshold | to_json }}
status_504_warning_threshold: {{ gitops_instance_variables.status_504_warning_threshold | to_json }}
status_504_critical_threshold: {{ gitops_instance_variables.status_504_critical_threshold | to_json }}

# https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml
ingress-nginx:
  controller:
    image:
      {{ gitops_instance_variables.controller_image | imagesplit('registry,image,tag,digest') | to_yaml(default_flow_style=False, width=1337) | indent(width=6) }}
      # allowPrivilegeEscalation: true

    watchIngressWithoutClass: {{ (default_ingress_class == ('nginx' + gitops_instance_variables.suffix)) | to_json }}

    config:
      annotation-value-word-blocklist: {{ gitops_instance_variables.annotation_value_word_blocklist | to_json }}
      proxy-body-size: {{ gitops_instance_variables.client_max_body_size | to_json }}
      log-format-escape-json: {{ gitops_instance_variables.log_format_escape_json | to_json }}
      log-format-upstream: {{ gitops_instance_variables.log_format_upstream | to_json }}
      worker-processes: {{ gitops_instance_variables.worker_processes | to_json }}
      # Hardening
      upstream-keepalive-timeout: {{ gitops_instance_variables.keepalive_timeout | to_json }}
      ssl-protocols: {{ gitops_instance_variables.ssl_protocols | to_json }}
      ssl-ciphers: {{ gitops_instance_variables.ssl_ciphers | to_json }}
      hsts-preload: {{ gitops_instance_variables.hsts_preload | to_json }}
      enabled-ocsp: {{ gitops_instance_variables.enabled_ocsp | to_json }}
      client-header-timeout: {{ gitops_instance_variables.client_header_timeout | to_json }}
      client-body-buffer-size: {{ gitops_instance_variables.client_body_buffer_size | to_json }}
      large-client-header-buffers: {{ gitops_instance_variables.large_client_header_buffers | to_json }}
      {% if gitops_instance_variables.proxy_hide_header %}
      hide-headers: {{ gitops_instance_variables.proxy_hide_header | join(',') | to_json }}
      {% endif %}
      {% if gitops_instance_variables.defaultbackend_custom_error_enabled %}
      custom-http-errors: "403,404,500,502,503,504"
      {% endif %}
      limit-rate: {{ gitops_instance_variables.limit_rate | to_json }}

    allowSnippetAnnotations: {{ gitops_instance_variables.allow_snippet_annotations | to_json }}

    hostNetwork: {{ gitops_instance_variables.controller_host_network | to_json }}

    ingressClassResource:
      name: {{ ('nginx' + gitops_instance_variables.suffix) | to_json }}
      default: {{ (default_ingress_class == ('nginx' + gitops_instance_variables.suffix)) | to_json }}
      controllerValue: "k8s.io/{{ gitops_instance_variables.name }}"

    ingressClass: {{ ('nginx' + gitops_instance_variables.suffix) | to_json }}

    admissionWebhooks:
      createSecretJob:
        resources:
          requests:
            {% if gitops_instance_variables.createsecretjob_memory_request %}
            memory: {{ gitops_instance_variables.createsecretjob_memory_request | to_json }}
            {% endif %}
            {% if gitops_instance_variables.createsecretjob_cpu_request %}
            cpu: {{ gitops_instance_variables.createsecretjob_cpu_request | to_json }}
            {% endif %}
          limits:
            {% if gitops_instance_variables.createsecretjob_memory_limit %}
            memory: {{ gitops_instance_variables.createsecretjob_memory_limit | to_json }}
            {% endif %}
            {% if gitops_instance_variables.createsecretjob_cpu_limit %}
            cpu: {{ gitops_instance_variables.createsecretjob_cpu_limit | to_json }}
            {% endif %}
      patchWebhookJob:
        resources:
          requests:
            {% if gitops_instance_variables.patchwebhookjob_memory_request %}
            memory: {{ gitops_instance_variables.patchwebhookjob_memory_request | to_json }}
            {% endif %}
            {% if gitops_instance_variables.patchwebhookjob_cpu_request %}
            cpu: {{ gitops_instance_variables.patchwebhookjob_cpu_request | to_json }}
            {% endif %}
          limits:
            {% if gitops_instance_variables.patchwebhookjob_memory_limit %}
            memory: {{ gitops_instance_variables.patchwebhookjob_memory_limit | to_json }}
            {% endif %}
            {% if gitops_instance_variables.patchwebhookjob_cpu_limit %}
            cpu: {{ gitops_instance_variables.patchwebhookjob_cpu_limit | to_json }}
            {% endif %}
      patch:
        image:
          {{ gitops_instance_variables.kube_webhook_certgen_image | imagesplit('registry,image,tag,digest') | to_yaml(default_flow_style=False, width=1337) | indent(width=10) }}
{% if sealed_secrets_enabled %}
    extraArgs:
      default-ssl-certificate: {{ gitops_instance_variables.name }}/default-ssl-certificate
{% endif %}

    tolerations:
    - effect: NoSchedule
      key: kubitus-project/public
      operator: Equal
      value: 'true'

    nodeSelector:
      kubitus-project/public: 'true'

    kind: DaemonSet

    resources:
      requests:
        {% if gitops_instance_variables.controller_memory_request %}
        memory: {{ gitops_instance_variables.controller_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.controller_cpu_request %}
        cpu: {{ gitops_instance_variables.controller_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.controller_memory_limit %}
        memory: {{ gitops_instance_variables.controller_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.controller_cpu_limit %}
        cpu: {{ gitops_instance_variables.controller_cpu_limit | to_json }}
        {% endif %}

    service:
      {% if gitops_instance_variables.load_balancer_ip %}
      annotations:
        metallb.universe.tf/loadBalancerIPs: {{ gitops_instance_variables.load_balancer_ip | to_json }}
      {% endif %}
      type: {{ gitops_instance_variables.controller_service_type | to_json }}

    metrics:
      enabled: {{ prometheus_stack_enabled | to_json }}
      serviceMonitor:
        enabled: {{ prometheus_stack_enabled | to_json }}
        additionalLabels:
          release: prometheus-stack
        honorLabels: true


  defaultBackend:
    enabled: true

    image:
    {% if gitops_instance_variables.defaultbackend_custom_error_enabled %}
      {{ gitops_instance_variables.errors_image | imagesplit('registry,image,tag,digest') | to_yaml(default_flow_style=False, width=1337) | indent(width=6) }}
    {% else %}
      {{ gitops_instance_variables.defaultbackend_image | imagesplit('registry,image,tag,digest') | to_yaml(default_flow_style=False, width=1337) | indent(width=6) }}
    {% endif %}

    resources:
      requests:
        {% if gitops_instance_variables.defaultbackend_memory_request %}
        memory: {{ gitops_instance_variables.defaultbackend_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.defaultbackend_cpu_request %}
        cpu: {{ gitops_instance_variables.defaultbackend_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.defaultbackend_memory_limit %}
        memory: {{ gitops_instance_variables.defaultbackend_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.defaultbackend_cpu_limit %}
        cpu: {{ gitops_instance_variables.defaultbackend_cpu_limit | to_json }}
        {% endif %}
    {% if gitops_instance_variables.defaultbackend_custom_error_enabled %}

    extraVolumes:
    - name: custom-error-pages
      configMap:
        name: custom-error-pages
        items:
        - key: "403"
          path: "403.html"
        - key: "404"
          path: "404.html"
        - key: "500"
          path: "500.html"
        - key: "502"
          path: "502.html"
        - key: "503"
          path: "503.html"
        - key: "504"
          path: "504.html"
    extraVolumeMounts:
    - name: custom-error-pages
      mountPath: /www
    {% endif %}
