ingress_nginx_controller_host_network: {{ ingress_nginx_controller_host_network | to_json }}
{% set gk_api_short_resources = gitops_instance_variables.api_resources.stdout_lines | map('regex_replace', '\..*$', '') | list  %}
# https://github.com/open-policy-agent/gatekeeper/blob/master/charts/gatekeeper/values.yaml
gatekeeper:
  auditInterval: 300  # 60
  validatingWebhookFailurePolicy: Fail  # Ignore
  validatingWebhookAnnotations:
    # https://gitlab.com/kubitus-project/kubitus-installer/-/issues/88
    argocd.argoproj.io/sync-wave: "5"
  validatingWebhookCustomRules:
  - apiGroups:
    - '*'
    apiVersions:
    - '*'
    operations:
    - CREATE
    - UPDATE
    resources:
      {{ gk_api_short_resources | difference(gitops_instance_variables.validatingwebhook_exempt_resources) | union(gitops_instance_variables.validatingwebhook_extra_resources) | to_yaml(default_flow_style=False, width=1337) | indent(width=6) }}
  mutatingWebhookFailurePolicy: Fail  # Ignore
  mutatingWebhookReinvocationPolicy: IfNeeded # Never
  mutatingWebhookAnnotations:
    # https://gitlab.com/kubitus-project/kubitus-installer/-/issues/88
    argocd.argoproj.io/sync-wave: "5"
  mutatingWebhookTimeoutSeconds: {{ gitops_instance_variables.mutating_webhook_timeout_seconds | to_json }}  # 1
  mutatingWebhookCustomRules:
  - apiGroups:
    - '*'
    apiVersions:
    - '*'
    operations:
    - CREATE
    - UPDATE
    resources:
      {{ gk_api_short_resources | difference(gitops_instance_variables.mutatingwebhook_exempt_resources) | union(gitops_instance_variables.mutatingwebhook_extra_resources) | to_yaml(default_flow_style=False, width=1337) | indent(width=6) }}
  postInstall:
    labelNamespace:
      image:
        {{ gitops_instance_variables.label_namespace_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}
      extraNamespaces:
      - kube-node-lease
      - kube-system
      extraAnnotations:
        argocd.argoproj.io/sync-wave: "5"
    probeWebhook:
      image:
        {{ gitops_instance_variables.probe_webhook_image | imagesplit('repository,tag') | to_nice_yaml(indent=2) | indent(width=8) }}
    securityContext:
      seccompProfile:
        type: RuntimeDefault
  image:
    repository: {{ gitops_instance_variables.image.split(':', 1)[0] | to_json }}
    release: {{ gitops_instance_variables.image.split(':', 1)[1] | to_json }}
  enableRuntimeDefaultSeccompProfile: false  # https://github.com/open-policy-agent/gatekeeper/pull/2351
  controllerManager:
    exemptNamespaces:
    - gatekeeper
    - kube-node-lease
    - kube-system
    securityContext:
      seccompProfile:
        type: RuntimeDefault
    resources:
      requests:
        {% if gitops_instance_variables.controllermanager_memory_request %}
        memory: {{ gitops_instance_variables.controllermanager_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.controllermanager_cpu_request %}
        cpu: {{ gitops_instance_variables.controllermanager_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.controllermanager_memory_limit %}
        memory: {{ gitops_instance_variables.controllermanager_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.controllermanager_cpu_limit %}
        cpu: {{ gitops_instance_variables.controllermanager_cpu_limit | to_json }}
        {% endif %}

  audit:
    securityContext:
      seccompProfile:
        type: RuntimeDefault
    resources:
      requests:
        {% if gitops_instance_variables.audit_memory_request %}
        memory: {{ gitops_instance_variables.audit_memory_request | to_json }}
        {% endif %}
        {% if gitops_instance_variables.audit_cpu_request %}
        cpu: {{ gitops_instance_variables.audit_cpu_request | to_json }}
        {% endif %}
      limits:
        {% if gitops_instance_variables.audit_memory_limit %}
        memory: {{ gitops_instance_variables.audit_memory_limit | to_json }}
        {% endif %}
        {% if gitops_instance_variables.audit_cpu_limit %}
        cpu: {{ gitops_instance_variables.audit_cpu_limit | to_json }}
        {% endif %}

  psp:
    enabled: false  # podsecuritypolicy_enabled
  upgradeCRDs:
    enabled: false

gatekeeperLibrary:
{% if offline_enabled %}
  repoURL: "https://{{ gitlab_fqdn }}/external-repositories/github.com/open-policy-agent/gatekeeper-library.git"
{% else %}
  repoURL: https://github.com/open-policy-agent/gatekeeper-library.git
{% endif %}
  targetRevision: {{ gitops_instance_variables.library_version | to_json }}

  # library/mutation/pod-security-policy tuning:
  defaultAllowPrivilegeEscalation:
    enabled: {{ gitops_instance_variables.library_defaultallowprivilegeescalation_enabled | to_json }}
    value: {{ gitops_instance_variables.library_defaultallowprivilegeescalation_value | to_json }}
  defaultCapabilities:
    enabled: {{ gitops_instance_variables.library_defaultcapabilities_enabled | to_json }}
    add: {{ gitops_instance_variables.library_defaultcapabilities_add | to_json }}
  defaultReadOnlyRootFilesystem:
    enabled: {{ gitops_instance_variables.library_defaultreadonlyrootfilesystem_enabled | to_json }}
    value: {{ gitops_instance_variables.library_defaultreadonlyrootfilesystem_value | to_json }}
  defaultSeccomp:
    enabled: {{ gitops_instance_variables.library_defaultseccomp_enabled | to_json }}
    value: {{ gitops_instance_variables.library_defaultseccomp_value | to_json }}
  defaultSELinux:
    enabled: {{ gitops_instance_variables.library_defaultselinux_enabled | to_json }}
    value: {{ gitops_instance_variables.library_defaultselinux_value | to_json }}
  defaultFSGroup:
    enabled: {{ gitops_instance_variables.library_defaultfsgroup_enabled | to_json }}
    value: {{ gitops_instance_variables.library_defaultfsgroup_value | to_json }}
  defaultRunAsNonRoot:
    enabled: {{ gitops_instance_variables.library_defaultrunasnonroot_enabled | to_json }}
    value: {{ gitops_instance_variables.library_defaultrunasnonroot_value | to_json }}
  defaultRunAsGroup:
    enabled: {{ gitops_instance_variables.library_defaultrunasgroup_enabled | to_json }}
    value: {{ gitops_instance_variables.library_defaultrunasgroup_value | to_json }}
  defaultRunAsUser:
    enabled: {{ gitops_instance_variables.library_defaultrunasuser_enabled | to_json }}
    value: {{ gitops_instance_variables.library_defaultrunasuser_value | to_json }}
  defaultSupplementalGroups:
    enabled: {{ gitops_instance_variables.library_defaultsupplementalgroups_enabled | to_json }}
    value: {{ gitops_instance_variables.library_defaultsupplementalgroups_value | to_json }}

  # library/pod-security-policy tuning:
  allowPrivilegeEscalationContainer:
    enforcementAction: {{ gitops_instance_variables.library_allowprivilegeescalationcontainer_enforcementaction | to_json }}
    excludedNamespaces:
    - ingress-nginx
    {% for instance in ingress_nginx_instances | default(['default']) | difference(['default']) %}
    - ingress-nginx-{{ instance }}
    {% endfor %}
    - kube-system
    - prometheus-node-exporter
    - rook-ceph
    - vsphere-csi
    exemptImages: {{ gitops_instance_variables.library_allowprivilegeescalationcontainer_exemptimages | to_json }}
  appArmor:
    enforcementAction: {{ gitops_instance_variables.library_apparmor_enforcementaction | to_json }}
    exemptImages: {{ gitops_instance_variables.library_apparmor_exemptimages | to_json }}
    allowedProfiles: {{ gitops_instance_variables.library_apparmor_allowedprofiles | to_json  }}
  capabilities:
    enforcementAction: {{ gitops_instance_variables.library_capabilities_enforcementaction | to_json }}
    excludedNamespacesByCapability:
      NET_BIND_SERVICE:
      - ingress-nginx
      {% for instance in ingress_nginx_instances | default(['default']) | difference(['default']) %}
      - ingress-nginx-{{ instance }}
      {% endfor %}
    exemptImages: {{ gitops_instance_variables.library_capabilities_exemptimages | to_json }}
    allowedCapabilities: {{ gitops_instance_variables.library_capabilities_allowed_capabilities | to_json }}
    requiredDropCapabilities: {{ gitops_instance_variables.library_capabilities_required_drop_capabilities | to_json }}
  flexVolumes:
    enforcementAction: {{ gitops_instance_variables.library_flexvolumes_enforcementaction | to_json }}
  forbiddenSysctls:
    enforcementAction: {{ gitops_instance_variables.library_forbiddensysctls_enforcementaction | to_json }}
  fsGroup:
    enforcementAction: {{ gitops_instance_variables.library_fsgroup_enforcementaction | to_json }}
  hostFilesystem:
    enforcementAction: {{ gitops_instance_variables.library_hostfilesystem_enforcementaction | to_json }}
    allowed:
    {% if opentelemetry_collector_enabled and (opentelemetry_collector_instance_daemonset_host_metrics_enabled or opentelemetry_collector_instance_daemonset_logs_collection_enabled)  %}
    - namespace: opentelemetry-collector-daemonset
      allowedHostPaths:
      {% if opentelemetry_collector_instance_daemonset_host_metrics_enabled %}
      - readOnly: true
        pathPrefix: /
      {% endif %}
      {% if opentelemetry_collector_instance_daemonset_logs_collection_enabled %}
      - readOnly: true
        pathPrefix: /var/log/pods
      - readOnly: true
        pathPrefix: /var/lib/docker/containers
      - readOnly: false
        pathPrefix: /var/lib/otelcol
      {% endif %}
    {% endif %}
    {% if prometheus_stack_enabled %}
    - namespace: prometheus-node-exporter
      allowedHostPaths:
      - readOnly: true
        pathPrefix: /
    {% endif %}
    {% if promtail_enabled %}
    - namespace: promtail
      allowedHostPaths:
      - readOnly: true
        pathPrefix: /var/log/pods
      - readOnly: true
        pathPrefix: /var/lib/docker/containers
      - readOnly: false
        pathPrefix: /run/promtail
      - readOnly: true
        pathPrefix: /var/log/journal
      - readOnly: true
        pathPrefix: /etc/machine-id
    {% endif %}
    {% if fluent_bit_enabled %}
    - namespace: fluent-bit
      allowedHostPaths:
      - readOnly: false
        pathPrefix: /var/lib/fluent-bit
      - readOnly: true
        pathPrefix: /var/log/journal
      - readOnly: true
        pathPrefix: /etc/machine-id
    {% endif %}
    {% if trivy_operator_enabled %}
    - namespace: trivy-system
      allowedHostPaths:
      - readOnly: true
        pathPrefix: /var/lib/etcd
      - readOnly: true
        pathPrefix: /var/lib/kubelet
      - readOnly: true
        pathPrefix: /var/lib/kube-scheduler
      - readOnly: true
        pathPrefix: /var/lib/kube-controller-manager
      - readOnly: true
        pathPrefix: /etc/systemd
      - readOnly: true
        pathPrefix: /lib/systemd
      - readOnly: true
        pathPrefix: /etc/kubernetes
      - readOnly: true
        pathPrefix: /usr/bin
      - readOnly: true
        pathPrefix: /etc/cni/net.d/
      - readOnly: true
        pathPrefix: /opt/cni/bin/
    {% endif %}
    {% if vsphere_csi_enabled %}
    - namespace: vsphere-csi
      allowedHostPaths:
      - readOnly: false
        pathPrefix: /dev
      - readOnly: false
        pathPrefix: /sys/block
      - readOnly: false
        pathPrefix: /sys/devices
      - readOnly: false
        pathPrefix: /var/lib/kubelet
      - readOnly: false
        pathPrefix: /var/lib/kubelet/plugins/csi.vsphere.vmware.com
      - readOnly: false
        pathPrefix: /var/lib/kubelet/plugins_registry
    {% endif %}
  hostNamespace:
    enforcementAction: {{ gitops_instance_variables.library_hostnamespace_enforcementaction | to_json }}
  hostNetworkingPorts:
    enforcementAction: {{ gitops_instance_variables.library_hostnetworkingports_enforcementaction | to_json }}
    exemptImages: {{ gitops_instance_variables.library_hostnetworkingports_exemptimages | to_json }}
  privilegedContainer:
    enforcementAction: {{ gitops_instance_variables.library_privilegedcontainer_enforcementaction | to_json }}
    exemptImages: {{ gitops_instance_variables.library_privilegedcontainer_exemptimages | to_json }}
  procMount:
    enforcementAction: {{ gitops_instance_variables.library_procmount_enforcementaction | to_json }}
    exemptImages: {{ gitops_instance_variables.library_procmount_exemptimages | to_json }}
  readOnlyRootFilesystem:
    enforcementAction: {{ gitops_instance_variables.library_readonlyrootfilesystem_enforcementaction | to_json }}
    exemptImages: {{ gitops_instance_variables.library_readonlyrootfilesystem_exemptimages | to_json }}
  seccomp:
    enforcementAction: {{ gitops_instance_variables.library_seccomp_enforcementaction | to_json }}
    exemptImages: {{ gitops_instance_variables.library_seccomp_exemptimages | to_json }}
  seLinuxV2:
    enforcementAction: {{ gitops_instance_variables.library_selinuxv2_enforcementaction | to_json }}
    exemptImages: {{ gitops_instance_variables.library_selinuxv2_exemptimages | to_json }}
  allowedUsers:
    enforcementAction: {{ gitops_instance_variables.library_allowedusers_enforcementaction | to_json }}
    exemptImages: {{ gitops_instance_variables.library_allowedusers_exemptimages | to_json }}
  volumeTypes:
    enforcementAction: {{ gitops_instance_variables.library_volumetypes_enforcementaction | to_json }}
    allowCSI: {{ gitops_instance_variables.library_volumetypes_allow_csi | to_json }}

  # library/general tuning:
  allowedRepos:
    enforcementAction: {{ gitops_instance_variables.library_allowedrepos_enforcementaction | to_json }}
    repos: {{ gitops_instance_variables.library_allowedrepos_repos | to_json }}
  blockEndpointEditDefaultRole:
    enforcementAction: {{ gitops_instance_variables.library_blockendpointeditdefaultrole_enforcementaction | to_json }}
  blockLoadBalancer:
    enforcementAction: {{ gitops_instance_variables.library_blockloadbalancer_enforcementaction | to_json }}
    excludedNamespaces:
    - ingress-nginx
    {% for instance in ingress_nginx_instances | default(['default']) | difference(['default']) %}
    - ingress-nginx-{{ instance }}
    {% endfor %}
    - minio-tenant
    {% for instance in minio_tenant_instances | default(['default']) | difference(['default']) %}
    - minio-tenant-{{ instance }}
    {% endfor %}
    - vault
    {% for instance in vault_instances | default(['default']) | difference(['default']) %}
    - vault-{{ instance }}
    {% endfor %}
  blockNodePortServices:
    enforcementAction: {{ gitops_instance_variables.library_blocknodeportservices_enforcementaction | to_json }}
  containerLimits:
    enforcementAction: {{ gitops_instance_variables.library_containerlimits_enforcementaction | to_json }}
    cpu: {{ gitops_instance_variables.library_containerlimits_cpu | to_json }}
    memory: {{ gitops_instance_variables.library_containerlimits_memory | to_json }}
  containerResourceRatios:
    enforcementAction: {{ gitops_instance_variables.library_containerratios_enforcementaction | to_json }}
    ratio: {{ gitops_instance_variables.library_containerratios_ratio | to_json }}
    cpuRatio: {{ gitops_instance_variables.library_containerratios_cpuratio | to_json }}
  disallowedTags:
    enforcementAction: {{ gitops_instance_variables.library_disallowedtags_enforcementaction | to_json }}
    tags: {{ gitops_instance_variables.library_disallowedtags_tags | to_json }}
  externalIP:
    enforcementAction: {{ gitops_instance_variables.library_externalip_enforcementaction | to_json }}
  httpsOnly:
    enforcementAction: {{ gitops_instance_variables.library_httpsonly_enforcementaction | to_json }}
  imageDigests:
    enforcementAction: {{ gitops_instance_variables.library_imagedigests_enforcementaction | to_json }}
    namespaces: {{ gitops_instance_variables.library_imagedigests_namespaces | to_json }}
  replicaLimits:
    enforcementAction: {{ gitops_instance_variables.library_replicalimits_enforcementaction | to_json }}
    minReplicas: {{ gitops_instance_variables.library_replicalimits_min_replicas | to_json }}
    maxReplicas: {{ gitops_instance_variables.library_replicalimits_max_replicas | to_json }}
  requiredProbes:
    enforcementAction: {{ gitops_instance_variables.library_requiredprobes_enforcementaction | to_json }}
  uniqueIngressHost:
    enforcementAction: {{ gitops_instance_variables.library_uniqueingresshost_enforcementaction | to_json }}
  uniqueServiceSelector:
    enforcementAction: {{ gitops_instance_variables.library_uniqueserviceselector_enforcementaction | to_json }}
